[Iuk Projekt-Geofence-Anh Tu Nguyen]Node-RED Flows.json
[{"id":"5e405b40.ecc30c","type":"tab","label":"Set position for pentagon","disabled":false,"info":""},{"id":"96a97dc8.cc6a78","type":"tab","label":"Set position for quadrangle","disabled":false,"info":""},{"id":"d7a42777.964668","type":"tab","label":"Set position for triangle","disabled":false,"info":""},{"id":"87f71302.a6a69","type":"tab","label":"Set position for minimum bounding rectangle","disabled":false,"info":""},{"id":"4d8d5d80.46f1cc","type":"tab","label":"Set position for point","disabled":false,"info":""},{"id":"a9b7d8a8.ad8e3","type":"tab","label":"Get all defined objects","disabled":false,"info":""},{"id":"a1e34bbc.128488","type":"tab","label":"Check if position exists in all area","disabled":false,"info":""},{"id":"c8f1832c.0e5338","type":"tab","label":"Get all defined objects in circle","disabled":false,"info":""},{"id":"497166a9.7cb44","type":"tab","label":"Remove all objects using same key","disabled":false,"info":""},{"id":"d2a1c91c.fefa98","type":"tab","label":"Remove a specified object","disabled":false,"info":""},{"id":"33f27c3a.fc26a4","type":"tab","label":"Rename KeyID","disabled":false,"info":""},{"id":"f19f6d15.169618","type":"tab","label":"Set read mode","disabled":false,"info":""},{"id":"e1075a62.13569","type":"tab","label":"Check server status","disabled":false,"info":""},{"id":"9744107a.8ccf1","type":"tab","label":"Get server information","disabled":false,"info":""},{"id":"b7765500.4889a8","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"a1ad0c48.5e52f"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"a1ad0c48.5e52f","port":0}]},{"x":455,"y":259,"wires":[{"id":"a1ad0c48.5e52f","port":1}]}]},{"id":"b12710db.b58c68","type":"ui_group","name":"Ping to server","tab":"77309e2c.371b88","order":1,"disp":true,"width":"6","collapse":false},{"id":"17b8c5a.8c3173a","type":"ui_group","name":"Set position for point","tab":"ecc5ca7a.11bea","order":1,"disp":true,"width":"6","collapse":false},{"id":"e37b330f.ed8f98","type":"ui_tab","name":"Set position for pentagon","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ee0ee9ae.fb13d","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#22b44e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#25a623","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#196b0f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#196b0f","edited":true},"page-titlebar-backgroundColor":{"value":"#196b0f","edited":false},"page-backgroundColor":{"value":"#f6f6f6","edited":true},"page-sidebar-backgroundColor":{"value":"#fcfcfc","edited":true},"group-textColor":{"value":"#29ae18","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#196b0f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Geofencing Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2447209.79c358","type":"ui_group","name":"Set position for pentagon object","tab":"e37b330f.ed8f98","order":1,"disp":true,"width":"10","collapse":false},{"id":"8afcf239.2b6d8","type":"mqtt-broker","name":"","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc8163ca.5a3038","type":"mqtt-broker","z":"4d8d5d80.46f1cc","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"d67ed9a.8c824a8","type":"ui_group","z":"4d8d5d80.46f1cc","name":"PID Controller For CPU Temperature of Raspberry Pi","tab":"","order":1,"disp":true,"width":"9"},{"id":"77309e2c.371b88","type":"ui_tab","name":"Ping to server","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"ecc5ca7a.11bea","type":"ui_tab","name":"Set position for point ","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"28f196aa.723e52","type":"ui_group","name":"Drawn Circle Info","tab":"e600194.c6da868","order":2,"disp":true,"width":"8","collapse":false},{"id":"437e353f.f0050c","type":"ui_tab","name":"Remove all objects using same key","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"dcd7c158.e16958","type":"ui_tab","name":"Remove a specified object","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"90dfe4a.7ec1e98","type":"ui_group","name":"Remove object","tab":"dcd7c158.e16958","order":1,"disp":true,"width":"6","collapse":false},{"id":"df66dec2.b4929","type":"ui_tab","name":"Set read mode","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"7374a0c8.7bc4b8","type":"ui_group","name":"Set Readmode","tab":"df66dec2.b4929","order":1,"disp":true,"width":"6","collapse":false},{"id":"f410a202.f48c6","type":"ui_tab","name":"Get server information","icon":"dashboard","order":14,"disabled":false,"hidden":false},{"id":"e35dd93d.28b8a8","type":"ui_group","name":"Get server info","tab":"f410a202.f48c6","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2505580.c0d4d","type":"ui_tab","name":"Rename keyID","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"bfca9f67.a57ef8","type":"ui_tab","name":"Get all defined objects","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"3c698a76.31b686","type":"ui_group","name":"All defined points","tab":"bfca9f67.a57ef8","order":3,"disp":true,"width":"15","collapse":false},{"id":"d0519c0f.4dacf8","type":"ui_group","name":"All defined triangles","tab":"bfca9f67.a57ef8","order":4,"disp":true,"width":"27","collapse":false},{"id":"574c7147.3f5f98","type":"ui_group","name":"All defined quadrangle","tab":"bfca9f67.a57ef8","order":5,"disp":true,"width":"27","collapse":false},{"id":"1231fbc7.9c8874","type":"ui_group","name":"All defined pentagons","tab":"bfca9f67.a57ef8","order":6,"disp":true,"width":"27","collapse":false},{"id":"5a3115bf.6db9dc","type":"ui_group","name":"All defined keyID","tab":"bfca9f67.a57ef8","order":2,"disp":true,"width":"6","collapse":false},{"id":"2718be20.f2dafa","type":"ui_group","name":"All defined objects","tab":"bfca9f67.a57ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5828cd94.9acfcc","type":"ui_tab","name":"Set position for minimum bounding rectangle","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"3f7328b6.e8dc3","type":"ui_group","name":"Set position for rectangle","tab":"5828cd94.9acfcc","order":1,"disp":true,"width":"6","collapse":false},{"id":"24f0fec.8132702","type":"ui_group","name":"Check position in all area/point","tab":"44bc53fe.f076fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"54651cc0.ab9ae4","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"831b4a0f.f40fe","type":"ui_group","name":"World Maps","tab":"e37b330f.ed8f98","order":2,"disp":true,"width":"15","collapse":false},{"id":"1797552e.2bbc1b","type":"ui_tab","name":"Set position for quadrangle","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"57e3a33d.a95684","type":"ui_group","name":"Set position for quadrangle object","tab":"1797552e.2bbc1b","order":1,"disp":true,"width":"10","collapse":false},{"id":"9ce49a90.6cd098","type":"ui_tab","name":"Set position for triangle","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e436194a.16f978","type":"ui_group","name":"Set position for triangle object","tab":"9ce49a90.6cd098","order":1,"disp":true,"width":"10","collapse":false},{"id":"1839603d.2293d8","type":"ui_group","name":"World Maps","tab":"1797552e.2bbc1b","order":2,"disp":true,"width":"15","collapse":false},{"id":"9c04ddf2.b9eda","type":"ui_group","name":"World Maps","tab":"9ce49a90.6cd098","order":2,"disp":true,"width":"15","collapse":false},{"id":"1c54faf3.b0b34d","type":"ui_group","name":"World Maps","tab":"5828cd94.9acfcc","order":2,"disp":true,"width":"15","collapse":false},{"id":"792bfb6c.3e709c","type":"ui_group","name":"World Maps","tab":"ecc5ca7a.11bea","order":2,"disp":true,"width":"15","collapse":false},{"id":"44bc53fe.f076fc","type":"ui_tab","name":"Check position in all defined area/point","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"e279dee5.3b4f8","type":"ui_group","name":"World Maps","tab":"44bc53fe.f076fc","order":2,"disp":true,"width":"15","collapse":false},{"id":"462a4ce6.d13c0c","type":"ui_group","name":"Remove KeyID","tab":"437e353f.f0050c","order":2,"disp":true,"width":"6","collapse":false},{"id":"4e4eff02.ad9568","type":"ui_group","name":"All defined objects","tab":"dcd7c158.e16958","order":2,"disp":true,"width":"6","collapse":false},{"id":"b4548b4.6f7f5f8","type":"ui_group","name":"All defined points","tab":"dcd7c158.e16958","order":4,"disp":true,"width":"6","collapse":false},{"id":"e5f96010.3a8fe8","type":"ui_group","name":"All defined triangles","tab":"dcd7c158.e16958","order":5,"disp":true,"width":"6","collapse":false},{"id":"142869e3.9a5d2e","type":"ui_group","name":"All defined quadrangles","tab":"dcd7c158.e16958","order":6,"disp":true,"width":"6","collapse":false},{"id":"acf2dd96.2127f","type":"ui_group","name":"All defined pentagons","tab":"dcd7c158.e16958","order":7,"disp":true,"width":"6","collapse":false},{"id":"b031b3a8.e811b8","type":"ui_group","name":"Rename KeyID","tab":"f2505580.c0d4d","order":2,"disp":true,"width":"6","collapse":false},{"id":"bf5dcc6d.1d8888","type":"ui_spacer","name":"spacer","group":"7ed828e7.70eb7","order":3,"width":1,"height":1},{"id":"e600194.c6da868","type":"ui_tab","name":"Get all defined objects in circle","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"9f2718b.e1aeb68","type":"ui_group","name":"World Maps","tab":"e600194.c6da868","order":1,"disp":true,"width":"18","collapse":false},{"id":"f82ea309.b81a28","type":"ui_group","name":"Search objects","tab":"e600194.c6da868","order":3,"disp":true,"width":"8","collapse":false},{"id":"daea09ce.74a31","type":"ui_group","name":"All keyIDs","tab":"f2505580.c0d4d","order":2,"disp":true,"width":"6","collapse":false},{"id":"5031ec3.4968e14","type":"ui_spacer","name":"spacer","group":"b031b3a8.e811b8","order":3,"width":1,"height":1},{"id":"feb507ff.16d75","type":"ui_spacer","name":"spacer","group":"b031b3a8.e811b8","order":4,"width":1,"height":1},{"id":"33f456f1.90a822","type":"ui_group","name":"All keyIDs","tab":"437e353f.f0050c","order":2,"disp":true,"width":"6","collapse":false},{"id":"b0740c60.e11048","type":"ui_button","z":"e1075a62.13569","name":"Ping Server","group":"b12710db.b58c68","order":4,"width":0,"height":0,"passthru":false,"label":"Ping Server","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":180,"wires":[["9a23f31f.246dd8"]]},{"id":"9a23f31f.246dd8","type":"function","z":"e1075a62.13569","name":"Get tile38 server info","func":"return {payload : \"PING\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":180,"wires":[["dbad8465.615518"]]},{"id":"dbad8465.615518","type":"http request","z":"e1075a62.13569","name":"Ping","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":180,"wires":[["cf68840a.6ab428","991387c4.b1f8e8","c782753e.7ce5f"]]},{"id":"cf68840a.6ab428","type":"function","z":"e1075a62.13569","name":"PING","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":1010,"y":180,"wires":[["64adb7e9.32b348"]]},{"id":"64adb7e9.32b348","type":"ui_text","z":"e1075a62.13569","group":"b12710db.b58c68","order":1,"width":0,"height":0,"name":"","label":"Successful:","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":180,"wires":[]},{"id":"991387c4.b1f8e8","type":"function","z":"e1075a62.13569","name":"Response","func":"return { payload : msg.payload.ping }; ","outputs":1,"noerr":0,"x":1000,"y":100,"wires":[["3e9adaa2.9b3f6e"]]},{"id":"3e9adaa2.9b3f6e","type":"ui_text","z":"e1075a62.13569","group":"b12710db.b58c68","order":2,"width":0,"height":0,"name":"","label":"Response:","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":100,"wires":[]},{"id":"c782753e.7ce5f","type":"function","z":"e1075a62.13569","name":"Elapsed","func":"return { payload : msg.payload.elapsed }; \n","outputs":1,"noerr":0,"x":1000,"y":240,"wires":[["b7b60a2a.f4b188"]]},{"id":"b7b60a2a.f4b188","type":"ui_text","z":"e1075a62.13569","group":"b12710db.b58c68","order":3,"width":0,"height":0,"name":"","label":"Elapsed:","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":240,"wires":[]},{"id":"4ec28719.bf389","type":"inject","z":"e1075a62.13569","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":180,"wires":[["b0740c60.e11048"]]},{"id":"dfe824cb.599e1","type":"function","z":"4d8d5d80.46f1cc","name":"Set position","func":"var keyID = flow.get(\"keyID\");\nvar fieldName = flow.get(\"fieldName\");\n\nif(keyID == undefined){\n    keyID = \"\";\n}\nif(fieldName == undefined){\n    fieldName = \"\";\n}\n\nvar latitude = flow.get(\"latPoint\");\nvar longitude = flow.get(\"lonPoint\");\n\nreturn {payload : \"SET%20\"+keyID+\"%20\"+fieldName+\"%20POINT%20\"+latitude+\"%20\"+longitude};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":680,"wires":[["208ba6ee.258a5a","e747e1e4.cb8cd8"]]},{"id":"208ba6ee.258a5a","type":"http request","z":"4d8d5d80.46f1cc","name":"Set point","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":680,"wires":[["dea71930.cc1838","336848b1.039108","ed076eeb.498438","b3460f33.5f24"]]},{"id":"dea71930.cc1838","type":"function","z":"4d8d5d80.46f1cc","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":650,"y":640,"wires":[["fdfb037b.578d3","7305627e.2da8e4"]]},{"id":"336848b1.039108","type":"function","z":"4d8d5d80.46f1cc","name":"Elapsed","func":"return { payload : msg.payload.elapsed }; ","outputs":1,"noerr":0,"x":660,"y":720,"wires":[["b3ac5017.054fa"]]},{"id":"fdfb037b.578d3","type":"ui_text","z":"4d8d5d80.46f1cc","group":"17b8c5a.8c3173a","order":1,"width":0,"height":0,"name":"","label":"Successful submit:","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":660,"wires":[]},{"id":"7305627e.2da8e4","type":"debug","z":"4d8d5d80.46f1cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":600,"wires":[]},{"id":"b3ac5017.054fa","type":"debug","z":"4d8d5d80.46f1cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":720,"wires":[]},{"id":"c0df40af.228a18","type":"ui_text_input","z":"4d8d5d80.46f1cc","name":"KeyID","label":"KeyID","tooltip":"","group":"17b8c5a.8c3173a","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":90,"y":120,"wires":[["678d0911.106d98"]]},{"id":"2f53066b.de789a","type":"ui_text_input","z":"4d8d5d80.46f1cc","name":"FieldName","label":"Field Name","tooltip":"","group":"17b8c5a.8c3173a","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":110,"y":240,"wires":[["703246aa.75b418"]]},{"id":"6a3ddefd.e60b48","type":"ui_button","z":"4d8d5d80.46f1cc","name":"","group":"17b8c5a.8c3173a","order":8,"width":0,"height":0,"passthru":false,"label":"Set position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":680,"wires":[["dfe824cb.599e1"]]},{"id":"ed076eeb.498438","type":"debug","z":"4d8d5d80.46f1cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":600,"wires":[]},{"id":"e747e1e4.cb8cd8","type":"debug","z":"4d8d5d80.46f1cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":600,"wires":[]},{"id":"678d0911.106d98","type":"function","z":"4d8d5d80.46f1cc","name":"Set KeyID","func":"flow.set('keyID',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[[]]},{"id":"703246aa.75b418","type":"function","z":"4d8d5d80.46f1cc","name":"Set Field Name","func":"flow.set('fieldName', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":240,"wires":[[]]},{"id":"4707bb08.7fe57c","type":"ui_text_input","z":"5e405b40.ecc30c","name":"","label":"KeyID","tooltip":"","group":"a2447209.79c358","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":90,"y":80,"wires":[["57ef062e.8a2188"]]},{"id":"e41921ce.f8b15","type":"ui_text_input","z":"5e405b40.ecc30c","name":"","label":"FieldName","tooltip":"","group":"a2447209.79c358","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"fieldname","x":110,"y":140,"wires":[["a6bb70a.7f84d9"]]},{"id":"57ef062e.8a2188","type":"function","z":"5e405b40.ecc30c","name":"Set KeyID","func":"flow.set('keyID',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[[]]},{"id":"a6bb70a.7f84d9","type":"function","z":"5e405b40.ecc30c","name":"Set FieldName","func":"flow.set('fieldName',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[[]]},{"id":"dc2a20c7.09a72","type":"function","z":"5e405b40.ecc30c","name":"Set position","func":"var keyID = flow.get(\"keyID\");\nvar fieldName = flow.get(\"fieldName\");\n\nif(keyID == undefined){\n    keyID = \"\";\n}\nif(fieldName == undefined){\n    fieldName = \"\";\n}\n\nvar latitude1 = flow.get(\"lat1\");\nvar longitude1 = flow.get(\"lon1\");\n\nvar latitude2 = flow.get(\"lat2\");\nvar longitude2 = flow.get(\"lon2\");\n\nvar latitude3 = flow.get(\"lat3\");\nvar longitude3 = flow.get(\"lon3\");\n\nvar latitude4 = flow.get(\"lat4\");\nvar longitude4 = flow.get(\"lon4\");\n\nvar latitude5 = flow.get(\"lat5\");\nvar longitude5 = flow.get(\"lon5\");\n\nvar url = \"SET%20\"+keyID+\"%20\"+fieldName+\"%20OBJECT%20{\"+'\"type\"'+\":\"+'\"Polygon\"'+\",\"+'\"coordinates\"'+\":[[[\"+longitude1+\",\"+latitude1+\"],[\"+longitude2+\",\"+latitude2+\"],[\"+longitude3+\",\"+latitude3+\"],[\"+longitude4+\",\"+latitude4+\"],[\"+longitude5+\",\"+latitude5+\"],[\"+longitude1+\",\"+latitude1+\"]]]}\";\n\nreturn {payload : url};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":880,"wires":[["d32f6e84.e767f8","71d9010b.d1097"]]},{"id":"d32f6e84.e767f8","type":"http request","z":"5e405b40.ecc30c","name":"Set pentagon","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":880,"wires":[["6777866e.eac058","7827c6fa.8e90b","7c7cb4bb.9fc9fc"]]},{"id":"6777866e.eac058","type":"function","z":"5e405b40.ecc30c","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":880,"wires":[["a09904fb.7555","4734a06f.e27f3"]]},{"id":"a09904fb.7555","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":1,"width":0,"height":0,"name":"","label":"Successful submit:","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":880,"wires":[]},{"id":"4734a06f.e27f3","type":"debug","z":"5e405b40.ecc30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":820,"wires":[]},{"id":"7827c6fa.8e90b","type":"debug","z":"5e405b40.ecc30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":800,"wires":[]},{"id":"71d9010b.d1097","type":"debug","z":"5e405b40.ecc30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":800,"wires":[]},{"id":"7c7cb4bb.9fc9fc","type":"function","z":"5e405b40.ecc30c","name":"Error","func":"var error = msg.payload.err;\n\nif(error == \"invalid argument 'undefined'\"){\n    error = \"missing input value\";\n}\n\nreturn { payload : error }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":960,"wires":[["817b04cc.8cc528"]]},{"id":"817b04cc.8cc528","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":960,"wires":[]},{"id":"d3b7aa7d.f2d5d8","type":"ui_text_input","z":"d7a42777.964668","name":"","label":"KeyID","tooltip":"","group":"e436194a.16f978","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":290,"y":100,"wires":[["3c77829a.96eea6"]]},{"id":"a512d3fc.d97f68","type":"ui_text_input","z":"d7a42777.964668","name":"","label":"FieldName","tooltip":"","group":"e436194a.16f978","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"fieldname","x":310,"y":160,"wires":[["368b7d20.82fe6a"]]},{"id":"3c77829a.96eea6","type":"function","z":"d7a42777.964668","name":"Set KeyID","func":"flow.set('keyID',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[[]]},{"id":"368b7d20.82fe6a","type":"function","z":"d7a42777.964668","name":"Set FieldName","func":"flow.set('fieldName',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":160,"wires":[[]]},{"id":"b48cf874.fa9098","type":"function","z":"d7a42777.964668","name":"Set position","func":"var keyID = flow.get(\"keyID\");\nvar fieldName = flow.get(\"fieldName\");\n\nif(keyID == undefined){\n    keyID = \"\";\n}\nif(fieldName == undefined){\n    fieldName = \"\";\n}\n\nvar latitude1 = flow.get(\"lat1\");\nvar longitude1 = flow.get(\"lon1\");\n\nvar latitude2 = flow.get(\"lat2\");\nvar longitude2 = flow.get(\"lon2\");\n\nvar latitude3 = flow.get(\"lat3\");\nvar longitude3 = flow.get(\"lon3\");\n\nvar url = \"SET%20\"+keyID+\"%20\"+fieldName+\"%20OBJECT%20{\"+'\"type\"'+\":\"+'\"Polygon\"'+\",\"+'\"coordinates\"'+\":[[[\"+longitude1+\",\"+latitude1+\"],[\"+longitude2+\",\"+latitude2+\"],[\"+longitude3+\",\"+latitude3+\"], [\"+longitude1+\",\"+latitude1+\"]]]}\";\n\nreturn {payload : url};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":740,"wires":[["b5cdd41c.494cf8","bca52d41.1034d"]]},{"id":"bca52d41.1034d","type":"http request","z":"d7a42777.964668","name":"Set triangle","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":740,"wires":[["63eb478a.1166d","473d8475.a14c1c","1fa0da0.6cfeb26","6397dddf.fcf984"]]},{"id":"63eb478a.1166d","type":"function","z":"d7a42777.964668","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":760,"y":700,"wires":[["91afa829.e5c5a8","e007f11.963fc1"]]},{"id":"473d8475.a14c1c","type":"function","z":"d7a42777.964668","name":"Elapsed","func":"return { payload : msg.payload.elapsed }; ","outputs":1,"noerr":0,"x":780,"y":780,"wires":[["93310ecb.e6342"]]},{"id":"91afa829.e5c5a8","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":1,"width":0,"height":0,"name":"","label":"Successful submit:","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":700,"wires":[]},{"id":"e007f11.963fc1","type":"debug","z":"d7a42777.964668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":640,"wires":[]},{"id":"93310ecb.e6342","type":"debug","z":"d7a42777.964668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":780,"wires":[]},{"id":"1fa0da0.6cfeb26","type":"debug","z":"d7a42777.964668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":640,"wires":[]},{"id":"b5cdd41c.494cf8","type":"debug","z":"d7a42777.964668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":660,"wires":[]},{"id":"6397dddf.fcf984","type":"function","z":"d7a42777.964668","name":"Error","func":"var error = msg.payload.err;\n\nif(error == \"invalid argument 'undefined'\"){\n    error = \"missing input value\";\n}\n\nreturn { payload : error }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":840,"wires":[["da893acb.399dc"]]},{"id":"da893acb.399dc","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":840,"wires":[]},{"id":"65c90db1.cc86ec","type":"ui_button","z":"d7a42777.964668","name":"","group":"e436194a.16f978","order":11,"width":0,"height":0,"passthru":false,"label":"Set area","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":740,"wires":[["b48cf874.fa9098"]]},{"id":"e7585c9a.bba268","type":"ui_text_input","z":"96a97dc8.cc6a78","name":"","label":"KeyID","tooltip":"","group":"57e3a33d.a95684","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":130,"y":80,"wires":[["a08a2f5b.5a56f8"]]},{"id":"cd6e356a.c1de98","type":"ui_text_input","z":"96a97dc8.cc6a78","name":"","label":"FieldName","tooltip":"","group":"57e3a33d.a95684","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"fieldname","x":150,"y":140,"wires":[["1e1590a8.0cdb27"]]},{"id":"a08a2f5b.5a56f8","type":"function","z":"96a97dc8.cc6a78","name":"Set KeyID","func":"flow.set('keyID',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[[]]},{"id":"1e1590a8.0cdb27","type":"function","z":"96a97dc8.cc6a78","name":"Set FieldName","func":"flow.set('fieldName',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[[]]},{"id":"46458986.ef09f","type":"ui_button","z":"96a97dc8.cc6a78","name":"","group":"57e3a33d.a95684","order":13,"width":0,"height":0,"passthru":false,"label":"Set area","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":800,"wires":[["d7a054bb.02b22"]]},{"id":"d7a054bb.02b22","type":"function","z":"96a97dc8.cc6a78","name":"Set position","func":"var keyID = flow.get(\"keyID\");\nvar fieldName = flow.get(\"fieldName\");\n\nif(keyID == undefined){\n    keyID = \"\";\n}\nif(fieldName == undefined){\n    fieldName = \"\";\n}\n\nvar latitude1 = flow.get(\"lat1\");\nvar longitude1 = flow.get(\"lon1\");\n\nvar latitude2 = flow.get(\"lat2\");\nvar longitude2 = flow.get(\"lon2\");\n\nvar latitude3 = flow.get(\"lat3\");\nvar longitude3 = flow.get(\"lon3\");\n\nvar latitude4 = flow.get(\"lat4\");\nvar longitude4 = flow.get(\"lon4\");\n\nvar url = \"SET%20\"+keyID+\"%20\"+fieldName+\"%20OBJECT%20{\"+'\"type\"'+\":\"+'\"Polygon\"'+\",\"+'\"coordinates\"'+\":[[[\"+longitude1+\",\"+latitude1+\"],[\"+longitude2+\",\"+latitude2+\"],[\"+longitude3+\",\"+latitude3+\"],[\"+longitude4+\",\"+latitude4+\"],[\"+longitude1+\",\"+latitude1+\"]]]}\";\n\nreturn {payload : url};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":800,"wires":[["4e98a523.d35adc","e0f4a7e5.e75508"]]},{"id":"4e98a523.d35adc","type":"http request","z":"96a97dc8.cc6a78","name":"Set quadrangle","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":800,"wires":[["c173a047.275608","e376d01f.9de9a","456f7fe0.be536","6ce0660b.39e66"]]},{"id":"c173a047.275608","type":"function","z":"96a97dc8.cc6a78","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":700,"y":760,"wires":[["37890716.c14f5","641ecbe8.e4a7dc"]]},{"id":"e376d01f.9de9a","type":"function","z":"96a97dc8.cc6a78","name":"Elapsed","func":"return { payload : msg.payload.elapsed }; ","outputs":1,"noerr":0,"x":720,"y":840,"wires":[["b96c4d8c.ebd99"]]},{"id":"37890716.c14f5","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":1,"width":0,"height":0,"name":"","label":"Successful submit:","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":780,"wires":[]},{"id":"641ecbe8.e4a7dc","type":"debug","z":"96a97dc8.cc6a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":720,"wires":[]},{"id":"b96c4d8c.ebd99","type":"debug","z":"96a97dc8.cc6a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":840,"wires":[]},{"id":"456f7fe0.be536","type":"debug","z":"96a97dc8.cc6a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":720,"wires":[]},{"id":"e0f4a7e5.e75508","type":"debug","z":"96a97dc8.cc6a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":720,"wires":[]},{"id":"6ce0660b.39e66","type":"function","z":"96a97dc8.cc6a78","name":"Error","func":"var error = msg.payload.err;\n\nif(error == \"invalid argument 'undefined'\"){\n    error = \"missing input value\";\n}\n\nreturn { payload : error }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":940,"wires":[["826f746d.95d6d"]]},{"id":"826f746d.95d6d","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":940,"wires":[]},{"id":"b3460f33.5f24","type":"function","z":"4d8d5d80.46f1cc","name":"Error","func":"var error = msg.payload.err;\n\nif(error == \"invalid argument 'undefined'\"){\n    error = \"missing input value\";\n}\n\nreturn { payload : error }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":800,"wires":[["15c3ce7d.d5a59a"]]},{"id":"15c3ce7d.d5a59a","type":"ui_text","z":"4d8d5d80.46f1cc","group":"17b8c5a.8c3173a","order":2,"width":0,"height":0,"name":"","label":"Error: ","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":800,"wires":[]},{"id":"5c670e78.7d369","type":"ui_text_input","z":"497166a9.7cb44","name":"","label":"KeyID","tooltip":"","group":"462a4ce6.d13c0c","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":170,"y":100,"wires":[["2929cb9a.f1111c"]]},{"id":"f65b2d49.212518","type":"ui_button","z":"497166a9.7cb44","name":"","group":"462a4ce6.d13c0c","order":4,"width":0,"height":0,"passthru":false,"label":"Remove","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":200,"wires":[["5598cab5.607204"]]},{"id":"5598cab5.607204","type":"function","z":"497166a9.7cb44","name":"Create url","func":"var keyID = flow.get(\"keyID\");\n\nreturn {payload : \"DROP%20\"+keyID};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["e2b77885.8b10b"]]},{"id":"e2b77885.8b10b","type":"http request","z":"497166a9.7cb44","name":"Remove ","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":200,"wires":[["57cc00a8.8fd868","7990afa6.1a6828"]]},{"id":"2929cb9a.f1111c","type":"function","z":"497166a9.7cb44","name":"Set KeyID","func":"flow.set('keyID', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[[]]},{"id":"c3c29962.2e0be","type":"ui_text_input","z":"d2a1c91c.fefa98","name":"","label":"KeyID","tooltip":"","group":"90dfe4a.7ec1e98","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":110,"y":100,"wires":[["f7bfc2a3.f7ac"]]},{"id":"ae0bad90.d26018","type":"ui_button","z":"d2a1c91c.fefa98","name":"","group":"90dfe4a.7ec1e98","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":280,"wires":[["1a325e42.595fca"]]},{"id":"1a325e42.595fca","type":"function","z":"d2a1c91c.fefa98","name":"Check object","func":"var keyID = flow.get(\"keyID\");\nvar fieldName = flow.get(\"fieldName\");\n\nreturn {payload : \"DEL%20\"+ keyID+\"%20\"+fieldName};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["b141a66e.dd01b8"]]},{"id":"b141a66e.dd01b8","type":"http request","z":"d2a1c91c.fefa98","name":"Remove","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":280,"wires":[["fd8c7471.d1fae8","11931457.d2e1ec","ea932516.77ae48","a7e00838.e14268"]]},{"id":"f7bfc2a3.f7ac","type":"function","z":"d2a1c91c.fefa98","name":"Set KeyID","func":"flow.set('keyID', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[[]]},{"id":"fd8c7471.d1fae8","type":"function","z":"d2a1c91c.fefa98","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["b867a9a1.f4f2b8"]]},{"id":"b867a9a1.f4f2b8","type":"ui_text","z":"d2a1c91c.fefa98","group":"90dfe4a.7ec1e98","order":1,"width":0,"height":0,"name":"","label":"Successful:","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":220,"wires":[]},{"id":"11931457.d2e1ec","type":"function","z":"d2a1c91c.fefa98","name":"Elapsed","func":"return { payload : msg.payload.elapsed }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":160,"wires":[[]]},{"id":"a047b825.8e0f7","type":"ui_text_input","z":"d2a1c91c.fefa98","name":"","label":"FieldName","tooltip":"","group":"90dfe4a.7ec1e98","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"fieldname","x":130,"y":160,"wires":[["7770da4.0fdf7a4"]]},{"id":"7770da4.0fdf7a4","type":"function","z":"d2a1c91c.fefa98","name":"Set Field Name","func":"flow.set('fieldName', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[[]]},{"id":"9f5ca53f.81ec68","type":"ui_text_input","z":"f19f6d15.169618","name":"","label":"ReadOnly (yes/no):","tooltip":"","group":"7374a0c8.7bc4b8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":230,"y":240,"wires":[["4dd1b143.ca0ec8"]]},{"id":"4dd1b143.ca0ec8","type":"function","z":"f19f6d15.169618","name":"Check input","func":"flow.set('mode', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[[]]},{"id":"cd966258.fc8c4","type":"ui_button","z":"f19f6d15.169618","name":"","group":"7374a0c8.7bc4b8","order":5,"width":0,"height":0,"passthru":false,"label":"Set readmode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":360,"wires":[["bc403303.39d5f"]]},{"id":"bc403303.39d5f","type":"function","z":"f19f6d15.169618","name":"Check object","func":"var mode = flow.get(\"mode\");\nreturn {payload : \"READONLY%20\"+mode};\n","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["17c8764c.b9c642"]]},{"id":"17c8764c.b9c642","type":"http request","z":"f19f6d15.169618","name":"Set read mode","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":360,"wires":[["d93abd41.98603","a95e7dca.7af238","15bec0a4.3b3f17"]]},{"id":"d93abd41.98603","type":"function","z":"f19f6d15.169618","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["e524fde4.24ece"]]},{"id":"e524fde4.24ece","type":"ui_text","z":"f19f6d15.169618","group":"7374a0c8.7bc4b8","order":2,"width":0,"height":0,"name":"","label":"Successful submit:","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":360,"wires":[]},{"id":"a95e7dca.7af238","type":"function","z":"f19f6d15.169618","name":"Elapsed","func":"return { payload : msg.payload.elapsed }; ","outputs":1,"noerr":0,"x":840,"y":500,"wires":[[]]},{"id":"15bec0a4.3b3f17","type":"function","z":"f19f6d15.169618","name":"Error","func":"return { payload : msg.payload.err }; ","outputs":1,"noerr":0,"x":830,"y":420,"wires":[["b59df15e.a149a"]]},{"id":"b59df15e.a149a","type":"ui_text","z":"f19f6d15.169618","group":"7374a0c8.7bc4b8","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":420,"wires":[]},{"id":"ce8c7caf.7a1948","type":"ui_button","z":"9744107a.8ccf1","name":"GET SERVER INFO","group":"e35dd93d.28b8a8","order":6,"width":0,"height":0,"passthru":false,"label":"GET SERVER INFO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":180,"wires":[["c976b61d.653cf8"]]},{"id":"c976b61d.653cf8","type":"function","z":"9744107a.8ccf1","name":"Get tile38 server info","func":"return {payload : \"SERVER\"};\n","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["92909280.9e13b"]]},{"id":"92909280.9e13b","type":"http request","z":"9744107a.8ccf1","name":"Server info","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":180,"wires":[["91cc5b0.8fbbf28","c4699dc5.3c4b7","f5cd7e87.205018","e8fddcde.d55018","c3493af2.a101e8"]]},{"id":"998c55c7.13cae","type":"ui_text","z":"9744107a.8ccf1","group":"e35dd93d.28b8a8","order":2,"width":0,"height":0,"name":"","label":"Version Tile38:","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":180,"wires":[]},{"id":"c4699dc5.3c4b7","type":"function","z":"9744107a.8ccf1","name":"Version","func":"return { payload : msg.payload.stats.version }; \n","outputs":1,"noerr":0,"x":1040,"y":180,"wires":[["998c55c7.13cae"]]},{"id":"91cc5b0.8fbbf28","type":"function","z":"9744107a.8ccf1","name":"OK","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":1030,"y":120,"wires":[["a75c039d.0532e8"]]},{"id":"a75c039d.0532e8","type":"ui_text","z":"9744107a.8ccf1","group":"e35dd93d.28b8a8","order":1,"width":0,"height":0,"name":"","label":"Successful:","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":120,"wires":[]},{"id":"f5cd7e87.205018","type":"function","z":"9744107a.8ccf1","name":"Number of KeyID","func":"return { payload : msg.payload.stats.num_collections }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":240,"wires":[["1ba6c60b.67bcc2"]]},{"id":"1ba6c60b.67bcc2","type":"ui_text","z":"9744107a.8ccf1","group":"e35dd93d.28b8a8","order":4,"width":0,"height":0,"name":"","label":"Number of KeyIDs:","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":240,"wires":[]},{"id":"e8fddcde.d55018","type":"function","z":"9744107a.8ccf1","name":"Number of Objects","func":"return { payload : msg.payload.stats.num_objects }; ","outputs":1,"noerr":0,"x":1070,"y":300,"wires":[["d147ab74.253938"]]},{"id":"d147ab74.253938","type":"ui_text","z":"9744107a.8ccf1","group":"e35dd93d.28b8a8","order":3,"width":0,"height":0,"name":"","label":"Number of Objects:","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":300,"wires":[]},{"id":"c3493af2.a101e8","type":"function","z":"9744107a.8ccf1","name":"Read only","func":"return { payload : msg.payload.stats.read_only }; ","outputs":1,"noerr":0,"x":1040,"y":360,"wires":[["3971853c.45c4ba"]]},{"id":"3971853c.45c4ba","type":"ui_text","z":"9744107a.8ccf1","group":"e35dd93d.28b8a8","order":5,"width":0,"height":0,"name":"","label":"Read only:","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":360,"wires":[]},{"id":"e2932b64.8e722","type":"inject","z":"9744107a.8ccf1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":180,"wires":[["ce8c7caf.7a1948"]]},{"id":"388229e1.f8bbbe","type":"ui_text_input","z":"33f27c3a.fc26a4","name":"","label":"Old KeyID:","tooltip":"","group":"b031b3a8.e811b8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":130,"y":100,"wires":[["50a4d84f.2ffa48"]]},{"id":"50a4d84f.2ffa48","type":"function","z":"33f27c3a.fc26a4","name":"Old KeyID","func":"flow.set('oldKey', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[[]]},{"id":"266a0ff4.149ba8","type":"ui_button","z":"33f27c3a.fc26a4","name":"","group":"b031b3a8.e811b8","order":7,"width":0,"height":0,"passthru":false,"label":"Rename","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":320,"wires":[["7c8d791c.e4fd3"]]},{"id":"7c8d791c.e4fd3","type":"function","z":"33f27c3a.fc26a4","name":"Rename keyID","func":"var oldKey = flow.get(\"oldKey\");\nvar newKey = flow.get(\"newKey\");\nreturn {payload : \"RENAME%20\"+oldKey+\"%20\"+newKey};\n","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["4ebab2f6.159c04"]]},{"id":"4ebab2f6.159c04","type":"http request","z":"33f27c3a.fc26a4","name":"Rename","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":320,"wires":[["54f99438.0d74f4","b68d9044.0f1d18","aa8093c7.73e938"]]},{"id":"48ca4552.69c10c","type":"ui_text_input","z":"33f27c3a.fc26a4","name":"","label":"New KeyID:","tooltip":"","group":"b031b3a8.e811b8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":130,"y":200,"wires":[["bccfcb96.e3ca98"]]},{"id":"bccfcb96.e3ca98","type":"function","z":"33f27c3a.fc26a4","name":"New KeyID","func":"flow.set('newKey', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"a7a9c526.486fd","type":"function","z":"a9b7d8a8.ad8e3","name":"GET Keys","func":"return {payload : \"KEYS *\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":100,"wires":[["292e4b1d.85a16c"]]},{"id":"292e4b1d.85a16c","type":"http request","z":"a9b7d8a8.ad8e3","name":"Get Keys","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1100,"y":100,"wires":[["2f16392c.d61c46"]]},{"id":"2f16392c.d61c46","type":"function","z":"a9b7d8a8.ad8e3","name":"Response","func":"var definedKeys = msg.payload.keys;\nvar length = msg.payload.keys.length;\nmsg.payload = definedKeys;\nmsg.leng = length;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":100,"wires":[["475a6c3.8aed914"]]},{"id":"9361469c.76efe8","type":"http request","z":"a9b7d8a8.ad8e3","name":"Scan all objects info","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":400,"wires":[["cbdcb883.0d19f8"]]},{"id":"1cc38a71.f33f9e","type":"debug","z":"a9b7d8a8.ad8e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":760,"wires":[]},{"id":"78b95d32.2b3614","type":"split","z":"a9b7d8a8.ad8e3","name":"Split on ,","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":360,"y":400,"wires":[["94c9ad9b.ec6a4"]]},{"id":"94c9ad9b.ec6a4","type":"function","z":"a9b7d8a8.ad8e3","name":"Scan keyID","func":"msg.keyID = msg.payload;\nmsg.payload = 'SCAN%20'+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":400,"wires":[["9361469c.76efe8"]]},{"id":"7dcff8a2.c8a4d","type":"function","z":"a9b7d8a8.ad8e3","name":"Number of keyID","func":"var resultsScanKeyID = flow.get(\"resultsScanKeyID\") || {};//get the results object\nresultsScanKeyID[msg.keyID] = msg.payload; //add this result\nflow.set(\"resultsScanKeyID\", resultsScanKeyID); //update flow storage \n\n\nvar numberKeyID = flow.get(\"numberKeyID\");\nnumberKeyID += 1;\nflow.set(\"numberKeyID\", numberKeyID);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":400,"wires":[[]]},{"id":"1555c429.d1d96c","type":"debug","z":"a9b7d8a8.ad8e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":180,"wires":[]},{"id":"475a6c3.8aed914","type":"change","z":"a9b7d8a8.ad8e3","name":"Delete msg.headers and msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":180,"wires":[["78b95d32.2b3614","779730da.b119b"]]},{"id":"cbdcb883.0d19f8","type":"change","z":"a9b7d8a8.ad8e3","name":"Delete msg.headers, msg.parts, msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":400,"wires":[["7dcff8a2.c8a4d","9adb572a.f58f68"]]},{"id":"6b35eafe.91318c","type":"change","z":"a9b7d8a8.ad8e3","name":"Set flow variable for results, numberKeyID","rules":[{"t":"set","p":"results","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"numberKeyID","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":100,"wires":[["a7a9c526.486fd"]]},{"id":"e8151430.27e52","type":"function","z":"a9b7d8a8.ad8e3","name":"Get all defined points","func":"var result = flow.get(\"resultsScanKeyID\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberPoint = 0;\nvar numberObjects = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n\n        if(type == \"Point\"){\n            var position = result[keyID].objects[j].object.coordinates;\n            list = {\n                \"KeyID\": keyID,\n                \"Field Name\": fieldName,\n                //\"Type\": type,\n                \"Position (Longitude/ Latitude)\": position\n            };\n            allObjectJSON.push(list);\n            numberPoint += 1;\n        }\n        numberObjects += 1;\n    }\n}\nmsg.payload = allObjectJSON;\nmsg.numberPoint = numberPoint;\nmsg.numberObjects = numberObjects;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":680,"wires":[["fd4953f4.05e4e8","fd28880d.ff483","c736c74a.1176e","39f4fef7.778b92"]]},{"id":"fd4953f4.05e4e8","type":"debug","z":"a9b7d8a8.ad8e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":640,"wires":[]},{"id":"fd28880d.ff483","type":"ui_table","z":"a9b7d8a8.ad8e3","group":"3c698a76.31b686","name":"All defined points","order":0,"width":"15","height":"6","columns":[],"outputs":0,"cts":false,"x":990,"y":680,"wires":[]},{"id":"23822c3.afd3254","type":"function","z":"a9b7d8a8.ad8e3","name":"Get all defined triangles","func":"var result = flow.get(\"resultsScanKeyID\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberTriangles = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n        \n        if(type == \"Polygon\"){\n            \n            var numberCorner = result[keyID].objects[j].object.coordinates[0].length;\n            if(numberCorner == 4){ //triangle\n                var firstPosition = result[keyID].objects[j].object.coordinates[0][0];\n                var secondPosition = result[keyID].objects[j].object.coordinates[0][1];\n                var thirdPosition = result[keyID].objects[j].object.coordinates[0][2];\n                \n                list = {\n                    \"KeyID\": keyID,\n                    \"Field Name\": fieldName,\n                    //\"Type\": \"triangle\",\n                    \"First Position (Longitude/ Latitude)\": firstPosition,\n                    \"Second Position (Longitude/ Latitude)\": secondPosition,\n                    \"Third Position (Longitude/ Latitude)\": thirdPosition,\n                };\n                allObjectJSON.push(list);\n                numberTriangles += 1;\n            }\n        }\n    }\n}\nmsg.payload = allObjectJSON;\nmsg.numberTriangles = numberTriangles;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":740,"wires":[["fbfa38cb.fb9d38","1cc38a71.f33f9e","59113b57.d1e82c"]]},{"id":"fbfa38cb.fb9d38","type":"ui_table","z":"a9b7d8a8.ad8e3","group":"d0519c0f.4dacf8","name":"All defined triangles","order":0,"width":"27","height":"3","columns":[],"outputs":0,"cts":false,"x":990,"y":720,"wires":[]},{"id":"967a81d5.914658","type":"function","z":"a9b7d8a8.ad8e3","name":"Get all defined quadrangle","func":"var result = flow.get(\"resultsScanKeyID\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberQuadrangle = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n        \n        if(type == \"Polygon\"){\n            \n            var numberCorner = result[keyID].objects[j].object.coordinates[0].length;\n            if(numberCorner == 5){ //rectangle\n                var firstPosition = result[keyID].objects[j].object.coordinates[0][0];\n                var secondPosition = result[keyID].objects[j].object.coordinates[0][1];\n                var thirdPosition = result[keyID].objects[j].object.coordinates[0][2];\n                var fourthPosition = result[keyID].objects[j].object.coordinates[0][3];\n                \n                list = {\n                    \"KeyID\": keyID,\n                    \"Field Name\": fieldName,\n                    //\"Type\": \"QUADRANGLE\",\n                    \"First Position (Longitude/ Latitude)\": firstPosition,\n                    \"Second Position (Longitude/ Latitude)\": secondPosition,\n                    \"Third Position (Longitude/ Latitude)\": thirdPosition,\n                    \"Four Position (Longitude/ Latitude)\": fourthPosition\n                };\n                allObjectJSON.push(list);\n                numberQuadrangle += 1;\n            }\n        }\n    }\n}\nmsg.payload = allObjectJSON;\nmsg.numberQuadrangle = numberQuadrangle;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":880,"wires":[["abd028ca.5d6028","984632b7.87fe38","a27d1ade.f2ffb8"]]},{"id":"56fb3c7.35a3144","type":"function","z":"a9b7d8a8.ad8e3","name":"Get all defined pentagon","func":"var result = flow.get(\"resultsScanKeyID\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberPentagon = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n        \n        if(type == \"Polygon\"){\n            \n            var numberCorner = result[keyID].objects[j].object.coordinates[0].length;\n            if(numberCorner == 6){ //pentagon\n                var firstPosition = result[keyID].objects[j].object.coordinates[0][0];\n                var secondPosition = result[keyID].objects[j].object.coordinates[0][1];\n                var thirdPosition = result[keyID].objects[j].object.coordinates[0][2];\n                var fourthPosition = result[keyID].objects[j].object.coordinates[0][3];\n                var fifthPosition = result[keyID].objects[j].object.coordinates[0][4];\n                \n                list = {\n                    \"KeyID\": keyID,\n                    \"Field Name\": fieldName,\n                    //\"Type\": \"pentagon\",\n                    \"First Position (Longitude/ Latitude)\": firstPosition,\n                    \"Second Position (Longitude/ Latitude)\": secondPosition,\n                    \"Third Position (Longitude/ Latitude)\": thirdPosition,\n                    \"Four Position (Longitude/ Latitude)\": fourthPosition,\n                    \"Fifth Position (Longitude/ Latitude)\": fifthPosition\n                };\n                allObjectJSON.push(list);\n                numberPentagon += 1;\n            }\n        }\n    }\n}\nmsg.payload = allObjectJSON;\nmsg.numberPentagon = numberPentagon;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1020,"wires":[["6f0fc73b.256c5","7f3b1727.502ca","dc421a8f.f44fb"]]},{"id":"984632b7.87fe38","type":"debug","z":"a9b7d8a8.ad8e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":920,"wires":[]},{"id":"abd028ca.5d6028","type":"ui_table","z":"a9b7d8a8.ad8e3","group":"574c7147.3f5f98","name":"All defined quadrangle","order":0,"width":"27","height":"3","columns":[],"outputs":0,"cts":false,"x":1020,"y":880,"wires":[]},{"id":"7f3b1727.502ca","type":"debug","z":"a9b7d8a8.ad8e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":1060,"wires":[]},{"id":"6f0fc73b.256c5","type":"ui_table","z":"a9b7d8a8.ad8e3","group":"1231fbc7.9c8874","name":"All defined pentagons","order":0,"width":"27","height":"3","columns":[],"outputs":0,"cts":false,"x":1020,"y":1020,"wires":[]},{"id":"7be6561d.255d9","type":"ui_table","z":"a9b7d8a8.ad8e3","group":"5a3115bf.6db9dc","name":"All defined keyID","order":1,"width":"6","height":"5","columns":[],"outputs":0,"cts":false,"x":650,"y":540,"wires":[]},{"id":"779730da.b119b","type":"function","z":"a9b7d8a8.ad8e3","name":"Get all key and length","func":"var leng = msg.payload.length;\nvar allKey = [];\nfor(i = 0; i < leng; i++){\n    var list = {\n        \"keyID\": msg.payload[i]\n    }\n    allKey.push(list);\n}\nmsg.payload = allKey;\nmsg.leng = leng;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":180,"wires":[["1555c429.d1d96c","1bb41ee5.941ec1","7be6561d.255d9"]]},{"id":"fd019a3b.493c98","type":"ui_button","z":"a9b7d8a8.ad8e3","name":"Get all defined objects","group":"2718be20.f2dafa","order":6,"width":0,"height":0,"passthru":false,"label":"Get all defined objects","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":100,"y":720,"wires":[["7e3df219.9c986c","3af2e944.cf7296","d93770c9.e97f4","3b637bb7.fe342c","ef83a753.5f226"]]},{"id":"1bb41ee5.941ec1","type":"ui_text","z":"a9b7d8a8.ad8e3","group":"5a3115bf.6db9dc","order":2,"width":0,"height":0,"name":"","label":"Number of keyID:","format":"{{msg.leng}}","layout":"row-spread","x":650,"y":580,"wires":[]},{"id":"c736c74a.1176e","type":"ui_text","z":"a9b7d8a8.ad8e3","group":"2718be20.f2dafa","order":2,"width":0,"height":0,"name":"","label":"Number of point:","format":"{{msg.numberPoint}}","layout":"row-spread","x":980,"y":600,"wires":[]},{"id":"39f4fef7.778b92","type":"ui_text","z":"a9b7d8a8.ad8e3","group":"2718be20.f2dafa","order":1,"width":0,"height":0,"name":"","label":"Number of defined objects:","format":"{{msg.numberObjects}}","layout":"row-spread","x":1020,"y":560,"wires":[]},{"id":"59113b57.d1e82c","type":"ui_text","z":"a9b7d8a8.ad8e3","group":"2718be20.f2dafa","order":3,"width":0,"height":0,"name":"","label":"Number of triangles:","format":"{{msg.numberTriangles}}","layout":"row-spread","x":1000,"y":800,"wires":[]},{"id":"a27d1ade.f2ffb8","type":"ui_text","z":"a9b7d8a8.ad8e3","group":"2718be20.f2dafa","order":4,"width":0,"height":0,"name":"","label":"Number of quadrangle:","format":"{{msg.numberQuadrangle}}","layout":"row-spread","x":1020,"y":960,"wires":[]},{"id":"dc421a8f.f44fb","type":"ui_text","z":"a9b7d8a8.ad8e3","group":"2718be20.f2dafa","order":5,"width":0,"height":0,"name":"","label":"Number of pentagons:","format":"{{msg.numberPentagon}}","layout":"row-spread","x":1020,"y":1100,"wires":[]},{"id":"155db19c.9d034e","type":"ui_text_input","z":"87f71302.a6a69","name":"","label":"KeyID","tooltip":"","group":"3f7328b6.e8dc3","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":90,"y":100,"wires":[["ca6f2a13.228488"]]},{"id":"6949f27c.bf390c","type":"ui_text_input","z":"87f71302.a6a69","name":"","label":"FieldName","tooltip":"","group":"3f7328b6.e8dc3","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"fieldname","x":110,"y":160,"wires":[["c68df428.0b9"]]},{"id":"ca6f2a13.228488","type":"function","z":"87f71302.a6a69","name":"Set KeyID","func":"flow.set('keyID',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[[]]},{"id":"c68df428.0b9","type":"function","z":"87f71302.a6a69","name":"Set FieldName","func":"flow.set('fieldName',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[[]]},{"id":"bec1b060.0d97d8","type":"function","z":"87f71302.a6a69","name":"Set position","func":"var keyID = flow.get(\"keyID\");\nvar fieldName = flow.get(\"fieldName\");\n\nif(keyID == undefined){\n    keyID = \"\";\n}\nif(fieldName == undefined){\n    fieldName = \"\";\n}\n\nvar southwestLatitude = flow.get(\"lat1\");\nvar southwestLongitude = flow.get(\"lon1\");\n\nvar northeastLatitude = flow.get(\"lat2\");\nvar northeastLongitude = flow.get(\"lon2\");\n\nvar url = \"SET%20\"+keyID+\"%20\"+fieldName+\"%20BOUNDS%20\"+southwestLatitude+\"%20\"+southwestLongitude+\"%20\"+northeastLatitude+\"%20\"+northeastLongitude;\n\nreturn {payload : url};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":700,"wires":[["64558ee8.db9498","3c6faa4.db57556"]]},{"id":"64558ee8.db9498","type":"http request","z":"87f71302.a6a69","name":"Set rectangle","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":700,"wires":[["f49f159d.a7e75","545962a.4c02e1c","717e3fe6.2a3658","a25f9d0d.7d923"]]},{"id":"f49f159d.a7e75","type":"function","z":"87f71302.a6a69","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":640,"y":660,"wires":[["3f6af3e1.b900c4","a5083c3e.ca432"]]},{"id":"545962a.4c02e1c","type":"function","z":"87f71302.a6a69","name":"Elapsed","func":"return { payload : msg.payload.elapsed }; ","outputs":1,"noerr":0,"x":660,"y":740,"wires":[["56f5f804.acb7c"]]},{"id":"3f6af3e1.b900c4","type":"ui_text","z":"87f71302.a6a69","group":"3f7328b6.e8dc3","order":1,"width":0,"height":0,"name":"","label":"Successful submit:","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":680,"wires":[]},{"id":"a5083c3e.ca432","type":"debug","z":"87f71302.a6a69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":620,"wires":[]},{"id":"56f5f804.acb7c","type":"debug","z":"87f71302.a6a69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":740,"wires":[]},{"id":"717e3fe6.2a3658","type":"debug","z":"87f71302.a6a69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":600,"wires":[]},{"id":"3c6faa4.db57556","type":"debug","z":"87f71302.a6a69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":620,"wires":[]},{"id":"a25f9d0d.7d923","type":"function","z":"87f71302.a6a69","name":"Error","func":"var error = msg.payload.err;\n\nif(error == \"invalid argument 'undefined'\"){\n    error = \"missing input value\";\n}\n\nreturn { payload : error }; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":840,"wires":[["4d14425c.ddea9c"]]},{"id":"4d14425c.ddea9c","type":"ui_text","z":"87f71302.a6a69","group":"3f7328b6.e8dc3","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":840,"wires":[]},{"id":"331e8e71.79b21a","type":"ui_button","z":"87f71302.a6a69","name":"","group":"3f7328b6.e8dc3","order":16,"width":0,"height":0,"passthru":false,"label":"Set area","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":700,"wires":[["bec1b060.0d97d8"]]},{"id":"a1ad0c48.5e52f","type":"function","z":"b7765500.4889a8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"7e6efb1d.caf35c","type":"http request","z":"a1e34bbc.128488","name":"Check position","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":1300,"wires":[["f7bf0685.3970b","37487af3.16bda6"]]},{"id":"975a9883.7ca928","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1240,"wires":[]},{"id":"6786f03a.2d71c","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":1260,"wires":[]},{"id":"f7bf0685.3970b","type":"function","z":"a1e34bbc.128488","name":"Result","func":"var areaWhereFoundObjList = [];\n\nif(msg.payload.result == true){\n    var list = {};\n    list = {\n        \"KeyID\": msg.keyID,\n        \"Field Name\": msg.fieldName\n    };\n    \n    areaWhereFoundObjList.push(list)\n    \n    delete msg.payload;\n    msg.payload = areaWhereFoundObjList;\n    return msg; \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1300,"wires":[["975a9883.7ca928","2ba545fb.87b192"]]},{"id":"28a7a26a.ff739e","type":"function","z":"a1e34bbc.128488","name":"GET Keys","func":"return {payload : \"KEYS *\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":340,"wires":[["f4facc18.5b7328"]]},{"id":"f4facc18.5b7328","type":"http request","z":"a1e34bbc.128488","name":"Get Keys","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1080,"y":340,"wires":[["13154079.0ae678"]]},{"id":"13154079.0ae678","type":"function","z":"a1e34bbc.128488","name":"Response","func":"var definedKeys = msg.payload.keys;\nvar length = msg.payload.keys.length;\nmsg.payload = definedKeys;\nmsg.leng = length;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":340,"wires":[["984e92f9.fb0e5"]]},{"id":"3c38889e.85421","type":"http request","z":"a1e34bbc.128488","name":"Scan all objects info","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":580,"wires":[["237516fe.799ef2","4db9b7b3.b9b1b"]]},{"id":"644d9624.8e9dd","type":"split","z":"a1e34bbc.128488","name":"Split on ,","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":900,"y":580,"wires":[["970c1e51.390648"]]},{"id":"970c1e51.390648","type":"function","z":"a1e34bbc.128488","name":"Scan keyID","func":"msg.keyID = msg.payload;\nmsg.payload = 'SCAN%20'+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":580,"wires":[["3c38889e.85421"]]},{"id":"7364d403.afc724","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":420,"wires":[]},{"id":"984e92f9.fb0e5","type":"change","z":"a1e34bbc.128488","name":"Delete msg.headers and msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":420,"wires":[["644d9624.8e9dd","69ac0fae.98cdf"]]},{"id":"237516fe.799ef2","type":"change","z":"a1e34bbc.128488","name":"Delete msg.headers, msg.parts, msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":660,"wires":[["6ceb1cd9.6ac83c"]]},{"id":"a61a320.5ddb2d","type":"change","z":"a1e34bbc.128488","name":"Set flow variable for results, numberKeyID","rules":[{"t":"set","p":"results","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"numberKeyID","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":340,"wires":[["28a7a26a.ff739e"]]},{"id":"69ac0fae.98cdf","type":"function","z":"a1e34bbc.128488","name":"Get all key and length","func":"var leng = msg.payload.length;\nvar allKey = [];\nfor(i = 0; i < leng; i++){\n    var list = {\n        \"keyID\": msg.payload[i]\n    }\n    allKey.push(list);\n}\nmsg.payload = allKey;\nmsg.leng = leng;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":420,"wires":[["7364d403.afc724"]]},{"id":"d0a857bb.96ef7","type":"function","z":"a1e34bbc.128488","name":"Create URL Request","func":"var longitude = flow.get(\"longitude\");\nvar latitude = flow.get(\"latitude\");\nvar keyID = msg.payload.KeyID;\nvar fieldName = msg.payload.FieldName;\n\nvar urlRequest = \"TEST%20POINT%20\"+latitude+\"%20\"+longitude+\"%20WITHIN%20GET%20\"+keyID+\"%20\"+fieldName;\n\nmsg.payload = urlRequest;\nmsg.keyID = keyID;\nmsg.fieldName = fieldName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1180,"wires":[["21abe1af.ba4ece","7e6efb1d.caf35c"]]},{"id":"4db9b7b3.b9b1b","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":580,"wires":[]},{"id":"619bb906.7dd5f8","type":"ui_button","z":"a1e34bbc.128488","name":"","group":"24f0fec.8132702","order":5,"width":0,"height":0,"passthru":false,"label":"Check all objects","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":880,"wires":[["8e3a323a.2f3ed8","df4207.6a717df8"]]},{"id":"eb6acf73.6aa8b","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":660,"wires":[]},{"id":"9ba52a5c.d00808","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":1060,"wires":[]},{"id":"6ceb1cd9.6ac83c","type":"function","z":"a1e34bbc.128488","name":"Number of keyID","func":"var resultsScanKeyID = flow.get(\"resultsScanKeyID\") || {};//get the results object\nresultsScanKeyID[msg.keyID] = msg.payload; //add this result\nflow.set(\"resultsScanKeyID\", resultsScanKeyID); //update flow storage\n\nvar counterKeyID = flow.get(\"numberKeyID\");\ncounterKeyID += 1;\nflow.set(\"numberKeyID\", counterKeyID);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":660,"wires":[["eb6acf73.6aa8b"]]},{"id":"bf7985ce.fabdd","type":"function","z":"a1e34bbc.128488","name":"Get all defined objects","func":"var result = flow.get(\"resultsScanKeyID\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        list = {\n            \"KeyID\": keyID,\n            \"FieldName\": fieldName,\n        };\n        \n        allObjectJSON.push(list);\n    }\n}\nmsg.payload = allObjectJSON;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1060,"wires":[["9ba52a5c.d00808","a7857d1c.32c8d"]]},{"id":"a7857d1c.32c8d","type":"split","z":"a1e34bbc.128488","name":"Split on ,","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":160,"y":1180,"wires":[["d0a857bb.96ef7","6786f03a.2d71c"]]},{"id":"21abe1af.ba4ece","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":1160,"wires":[]},{"id":"daba5406.eeb4a8","type":"ui_table","z":"a1e34bbc.128488","group":"24f0fec.8132702","name":"Found Areas","order":4,"width":"6","height":"3","columns":[],"outputs":0,"cts":false,"x":770,"y":1520,"wires":[]},{"id":"2ba545fb.87b192","type":"function","z":"a1e34bbc.128488","name":"Add Results","func":"var counterArea = 0;\nvar allAreaFound = [];\n\nallAreaFound = flow.get(\"allAreaFound\") || [];\nallAreaFound.push(msg.payload[0]);   \nflow.set(\"allAreaFound\", allAreaFound);\nmsg.payload = allAreaFound;\n    \ncounterArea = flow.get(\"counterArea\") || 0;\ncounterArea += 1;\nflow.set(\"counterArea\", counterArea);\nmsg.counterArea = counterArea;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1460,"wires":[["2cc81298.31526e","daba5406.eeb4a8","4a9a660c.38cf38"]]},{"id":"37487af3.16bda6","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":1240,"wires":[]},{"id":"2cc81298.31526e","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":753.1666870117188,"y":1396.166748046875,"wires":[]},{"id":"4a9a660c.38cf38","type":"ui_text","z":"a1e34bbc.128488","group":"24f0fec.8132702","order":3,"width":0,"height":0,"name":"","label":"Number Areas:","format":"{{msg.counterArea}}","layout":"row-spread","x":1000,"y":1460,"wires":[]},{"id":"9a1e0f9d.aa374","type":"change","z":"a1e34bbc.128488","name":"Clear table, number found areas","rules":[{"t":"delete","p":"allAreaFound","pt":"flow"},{"t":"set","p":"counterArea","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"counterArea","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1060,"wires":[["4a9a660c.38cf38","5b6e1443.aa7c34"]]},{"id":"b14b75fd.b63f6","type":"ui_worldmap","z":"5e405b40.ecc30c","group":"831b4a0f.f40fe","order":1,"width":"15","height":"15","name":"","lat":"51.506004","lon":"7.457879","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":280,"y":580,"wires":[]},{"id":"ac66e61b.f7f38","type":"worldmap in","z":"5e405b40.ecc30c","name":"","path":"/worldmap","events":"all","x":80,"y":420,"wires":[["b14b75fd.b63f6","fd4fa26c.873fd8","a760adf2.3b906"]]},{"id":"fd4fa26c.873fd8","type":"debug","z":"5e405b40.ecc30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":520,"wires":[]},{"id":"e15f14d4.eae5f8","type":"function","z":"5e405b40.ecc30c","name":"Get latitude, longitude from maps","func":"if(msg.payload.action == \"draw\"){\n    if(msg.payload.area !== undefined){\n        var numberCorners = msg.payload.area.length;\n        if(numberCorners == 5){\n            msg.lat1 = msg.payload.area[0].lat.toFixed(6);\n            msg.lon1 = msg.payload.area[0].lng.toFixed(6);\n            msg.lat2 = msg.payload.area[1].lat.toFixed(6);\n            msg.lon2 = msg.payload.area[1].lng.toFixed(6);\n            msg.lat3 = msg.payload.area[2].lat.toFixed(6);\n            msg.lon3 = msg.payload.area[2].lng.toFixed(6);\n            msg.lat4 = msg.payload.area[3].lat.toFixed(6);\n            msg.lon4 = msg.payload.area[3].lng.toFixed(6);\n            msg.lat5 = msg.payload.area[4].lat.toFixed(6);\n            msg.lon5 = msg.payload.area[4].lng.toFixed(6);\n            \n            flow.set(\"lat1\", msg.payload.area[0].lat.toFixed(6));\n            flow.set(\"lon1\", msg.payload.area[0].lng.toFixed(6));\n            flow.set(\"lat2\", msg.payload.area[1].lat.toFixed(6));\n            flow.set(\"lon2\", msg.payload.area[1].lng.toFixed(6));\n            flow.set(\"lat3\", msg.payload.area[2].lat.toFixed(6));\n            flow.set(\"lon3\", msg.payload.area[2].lng.toFixed(6));\n            flow.set(\"lat4\", msg.payload.area[3].lat.toFixed(6));\n            flow.set(\"lon4\", msg.payload.area[3].lng.toFixed(6));\n            flow.set(\"lat5\", msg.payload.area[4].lat.toFixed(6));\n            flow.set(\"lon5\", msg.payload.area[4].lng.toFixed(6));\n        }    \n    }\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":420,"wires":[["ebfd5346.99e7c8","b6785f4f.2d72c8","8c3bdc76.9c8dd","ef17757b.b1e0e","1ccfbae9.54ba65","ed8ffd8e.4a1be","3e98b4e6.a785f4","6142bbad.00ca34","d216233c.e42ba8","5a3264ba.4c223c","916ed836.bf929"]]},{"id":"ebfd5346.99e7c8","type":"debug","z":"5e405b40.ecc30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"b6785f4f.2d72c8","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":7,"width":0,"height":0,"name":"Latitude 2 Pentagon","label":"Latitude 2","format":"{{msg.lat2}}","layout":"row-spread","x":1050,"y":280,"wires":[]},{"id":"8c3bdc76.9c8dd","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":8,"width":0,"height":0,"name":"Longitude 2 Pentagon","label":"Longitude 2","format":"{{msg.lon2}}","layout":"row-spread","x":1060,"y":340,"wires":[]},{"id":"ef17757b.b1e0e","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":9,"width":0,"height":0,"name":"Latitude 3 Pentagon","label":"Latitude 3","format":"{{msg.lat3}}","layout":"row-spread","x":1050,"y":400,"wires":[]},{"id":"1ccfbae9.54ba65","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":10,"width":0,"height":0,"name":"Longitude 3 Pentagon","label":"Longitude 3","format":"{{msg.lon3}}","layout":"row-spread","x":1060,"y":460,"wires":[]},{"id":"ed8ffd8e.4a1be","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":11,"width":0,"height":0,"name":"Latitude 4 Pentagon","label":"Latitude 4","format":"{{msg.lat4}}","layout":"row-spread","x":1050,"y":520,"wires":[]},{"id":"3e98b4e6.a785f4","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":12,"width":0,"height":0,"name":"Longitude 4 Pentagon","label":"Longitude 4","format":"{{msg.lon4}}","layout":"row-spread","x":1060,"y":580,"wires":[]},{"id":"6142bbad.00ca34","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":13,"width":0,"height":0,"name":"Latitude 5 Pentagon","label":"Latitude 5","format":"{{msg.lat5}}","layout":"row-spread","x":1050,"y":640,"wires":[]},{"id":"d216233c.e42ba8","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":14,"width":0,"height":0,"name":"Longitude 5 Pentagon","label":"Longitude 5","format":"{{msg.lon5}}","layout":"row-spread","x":1060,"y":700,"wires":[]},{"id":"daaac71c.110258","type":"function","z":"96a97dc8.cc6a78","name":"Get latitude, longitude from maps","func":"if(msg.payload.action == \"draw\"){\n    if(msg.payload.area !== undefined){\n        var numberCorners = msg.payload.area.length;\n        if(numberCorners == 4){\n            msg.lat1 = msg.payload.area[0].lat.toFixed(6);\n            msg.lon1 = msg.payload.area[0].lng.toFixed(6);\n            msg.lat2 = msg.payload.area[1].lat.toFixed(6);\n            msg.lon2 = msg.payload.area[1].lng.toFixed(6);\n            msg.lat3 = msg.payload.area[2].lat.toFixed(6);\n            msg.lon3 = msg.payload.area[2].lng.toFixed(6);\n            msg.lat4 = msg.payload.area[3].lat.toFixed(6);\n            msg.lon4 = msg.payload.area[3].lng.toFixed(6);\n            \n            flow.set(\"lat1\", msg.payload.area[0].lat.toFixed(6));\n            flow.set(\"lon1\", msg.payload.area[0].lng.toFixed(6));\n            flow.set(\"lat2\", msg.payload.area[1].lat.toFixed(6));\n            flow.set(\"lon2\", msg.payload.area[1].lng.toFixed(6));\n            flow.set(\"lat3\", msg.payload.area[2].lat.toFixed(6));\n            flow.set(\"lon3\", msg.payload.area[2].lng.toFixed(6));\n            flow.set(\"lat4\", msg.payload.area[3].lat.toFixed(6));\n            flow.set(\"lon4\", msg.payload.area[3].lng.toFixed(6));\n        }    \n    }\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":420,"wires":[["b378823f.a8c54","bec84787.deb5f","bb906686.164858","597803fc.df2b14","df200260.befe5","87709d6b.134138","77557be0.2706a4","1ac9f0c6.334c4f"]]},{"id":"1eed1fc5.022808","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":5,"width":0,"height":0,"name":"Latitude 1 Triangle","label":"Latitude 1","format":"{{msg.lat1}}","layout":"row-spread","x":850,"y":240,"wires":[]},{"id":"324e5e5f.fb82e2","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":6,"width":0,"height":0,"name":"Longitude 1 Triangle","label":"Longitude 1","format":"{{msg.lon1}}","layout":"row-spread","x":860,"y":300,"wires":[]},{"id":"d0777b4.41f1388","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":7,"width":0,"height":0,"name":"Latitude 2 Triangle","label":"Latitude 2","format":"{{msg.lat2}}","layout":"row-spread","x":850,"y":360,"wires":[]},{"id":"acd5e80a.f78498","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":8,"width":0,"height":0,"name":"Longitude 2 Triangle","label":"Longitude 2","format":"{{msg.lon2}}","layout":"row-spread","x":860,"y":420,"wires":[]},{"id":"9a00b395.938a18","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":9,"width":0,"height":0,"name":"Latitude 3 Triangle","label":"Latitude 3","format":"{{msg.lat3}}","layout":"row-spread","x":850,"y":480,"wires":[]},{"id":"f947894d.852178","type":"ui_text","z":"d7a42777.964668","group":"e436194a.16f978","order":10,"width":0,"height":0,"name":"Longitude 3 Triangle","label":"Longitude 3","format":"{{msg.lon3}}","layout":"row-spread","x":860,"y":540,"wires":[]},{"id":"34d398ba.4b49c8","type":"function","z":"d7a42777.964668","name":"Get latitude, longitude from maps","func":"if(msg.payload.action == \"draw\"){\n    if(msg.payload.area !== undefined){\n        var numberCorners = msg.payload.area.length;\n        if(numberCorners == 3){\n            msg.lat1 = msg.payload.area[0].lat.toFixed(6);\n            msg.lon1 = msg.payload.area[0].lng.toFixed(6);\n            msg.lat2 = msg.payload.area[1].lat.toFixed(6);\n            msg.lon2 = msg.payload.area[1].lng.toFixed(6);\n            msg.lat3 = msg.payload.area[2].lat.toFixed(6);\n            msg.lon3 = msg.payload.area[2].lng.toFixed(6);\n            \n            flow.set(\"lat1\", msg.payload.area[0].lat.toFixed(6));\n            flow.set(\"lon1\", msg.payload.area[0].lng.toFixed(6));\n            flow.set(\"lat2\", msg.payload.area[1].lat.toFixed(6));\n            flow.set(\"lon2\", msg.payload.area[1].lng.toFixed(6));\n            flow.set(\"lat3\", msg.payload.area[2].lat.toFixed(6));\n            flow.set(\"lon3\", msg.payload.area[2].lng.toFixed(6));\n        }    \n    }\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":420,"wires":[["1eed1fc5.022808","324e5e5f.fb82e2","d0777b4.41f1388","acd5e80a.f78498","9a00b395.938a18","f947894d.852178"]]},{"id":"bd2da22f.4d914","type":"ui_worldmap","z":"96a97dc8.cc6a78","group":"1839603d.2293d8","order":1,"width":"15","height":"13","name":"","lat":"51.506004","lon":"7.457879","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":320,"y":560,"wires":[]},{"id":"9a643c87.3d755","type":"worldmap in","z":"96a97dc8.cc6a78","name":"","path":"/worldmap","events":"all","x":120,"y":420,"wires":[["bd2da22f.4d914","d4796bb2.d25fc","74aa4bb4.116c24"]]},{"id":"d4796bb2.d25fc","type":"debug","z":"96a97dc8.cc6a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":500,"wires":[]},{"id":"a43c4800.0fd618","type":"ui_worldmap","z":"d7a42777.964668","group":"9c04ddf2.b9eda","order":1,"width":"15","height":"11","name":"","lat":"51.506004","lon":"7.457879","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":260,"y":540,"wires":[]},{"id":"853bfc8c.b5b8e","type":"worldmap in","z":"d7a42777.964668","name":"","path":"/worldmap","events":"all","x":70,"y":420,"wires":[["a43c4800.0fd618","e4b29d9f.3f98a8","c737de83.d7b018"]]},{"id":"e4b29d9f.3f98a8","type":"debug","z":"d7a42777.964668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":480,"wires":[]},{"id":"98338e19.36264","type":"ui_button","z":"5e405b40.ecc30c","name":"","group":"a2447209.79c358","order":15,"width":0,"height":0,"passthru":false,"label":"Set area","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":880,"wires":[["dc2a20c7.09a72"]]},{"id":"916ed836.bf929","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":5,"width":0,"height":0,"name":"Latitude 1 Pentagon","label":"Latitude 1","format":"{{msg.lat1}}","layout":"row-spread","x":1050,"y":160,"wires":[]},{"id":"5a3264ba.4c223c","type":"ui_text","z":"5e405b40.ecc30c","group":"a2447209.79c358","order":6,"width":0,"height":0,"name":"Longitude 1 Pentagon","label":"Longitude 1","format":"{{msg.lon1}}","layout":"row-spread","x":1060,"y":220,"wires":[]},{"id":"bb906686.164858","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":7,"width":0,"height":0,"name":"Latitude 2 Quadrangle","label":"Latitude 2","format":"{{msg.lat2}}","layout":"row-spread","x":960,"y":320,"wires":[]},{"id":"597803fc.df2b14","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":8,"width":0,"height":0,"name":"Longitude 2 Quadrangle","label":"Longitude 2","format":"{{msg.lon2}}","layout":"row-spread","x":970,"y":380,"wires":[]},{"id":"df200260.befe5","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":9,"width":0,"height":0,"name":"Latitude 3 Quadrangle","label":"Latitude 3","format":"{{msg.lat3}}","layout":"row-spread","x":960,"y":440,"wires":[]},{"id":"87709d6b.134138","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":10,"width":0,"height":0,"name":"Longitude 3 Quadrangle","label":"Longitude 3","format":"{{msg.lon3}}","layout":"row-spread","x":970,"y":500,"wires":[]},{"id":"77557be0.2706a4","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":11,"width":0,"height":0,"name":"Latitude 4 Quadrangle","label":"Latitude 4","format":"{{msg.lat4}}","layout":"row-spread","x":960,"y":560,"wires":[]},{"id":"1ac9f0c6.334c4f","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":12,"width":0,"height":0,"name":"Longitude 4 Quadrangle","label":"Longitude 4","format":"{{msg.lon4}}","layout":"row-spread","x":970,"y":620,"wires":[]},{"id":"b378823f.a8c54","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":5,"width":0,"height":0,"name":"Latitude 1 Quadrangle","label":"Latitude 1","format":"{{msg.lat1}}","layout":"row-spread","x":960,"y":200,"wires":[]},{"id":"bec84787.deb5f","type":"ui_text","z":"96a97dc8.cc6a78","group":"57e3a33d.a95684","order":6,"width":0,"height":0,"name":"Longitude 1 Quadrangle","label":"Longitude 1","format":"{{msg.lon1}}","layout":"row-spread","x":970,"y":260,"wires":[]},{"id":"df60e73b.afb848","type":"ui_text","z":"87f71302.a6a69","group":"3f7328b6.e8dc3","order":5,"width":0,"height":0,"name":"Southwest Latitude","label":"Southwest Latitude","format":"{{msg.lat1}}","layout":"row-spread","x":910,"y":260,"wires":[]},{"id":"d0c818d5.45c778","type":"ui_text","z":"87f71302.a6a69","group":"3f7328b6.e8dc3","order":6,"width":0,"height":0,"name":"Southwest Longitude","label":"Southwest Longitude","format":"{{msg.lon1}}","layout":"row-spread","x":920,"y":320,"wires":[]},{"id":"f71fa02.801e6e","type":"ui_text","z":"87f71302.a6a69","group":"3f7328b6.e8dc3","order":7,"width":0,"height":0,"name":"Northeast Latitude","label":"Northeast Latitude","format":"{{msg.lat2}}","layout":"row-spread","x":910,"y":380,"wires":[]},{"id":"92235fba.6f9068","type":"ui_text","z":"87f71302.a6a69","group":"3f7328b6.e8dc3","order":8,"width":0,"height":0,"name":"Northeast Longitude","label":"Northeast Longitude","format":"{{msg.lon2}}","layout":"row-spread","x":920,"y":440,"wires":[]},{"id":"9d04c352.644c58","type":"function","z":"87f71302.a6a69","name":"Get latitude, longitude from maps","func":"if(msg.payload.action == \"draw\"){\n    if(msg.payload.line !== undefined){\n        var numberCorners = msg.payload.line.length;\n        if(numberCorners == 2){\n            msg.lat1 = msg.payload.line[0].lat.toFixed(6);\n            msg.lon1 = msg.payload.line[0].lng.toFixed(6);\n            msg.lat2 = msg.payload.line[1].lat.toFixed(6);\n            msg.lon2 = msg.payload.line[1].lng.toFixed(6);\n            \n            flow.set(\"lat1\", msg.payload.line[0].lat.toFixed(6));\n            flow.set(\"lon1\", msg.payload.line[0].lng.toFixed(6));\n            flow.set(\"lat2\", msg.payload.line[1].lat.toFixed(6));\n            flow.set(\"lon2\", msg.payload.line[1].lng.toFixed(6));\n        }    \n    }\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["df60e73b.afb848","d0c818d5.45c778","f71fa02.801e6e","92235fba.6f9068"]]},{"id":"b799a330.c0bff","type":"ui_worldmap","z":"87f71302.a6a69","group":"1c54faf3.b0b34d","order":1,"width":"15","height":"9","name":"","lat":"51.506004","lon":"7.457879","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":260,"y":460,"wires":[]},{"id":"7f8cb39e.0be24c","type":"worldmap in","z":"87f71302.a6a69","name":"","path":"/worldmap","events":"all","x":70,"y":340,"wires":[["b799a330.c0bff","2de3c880.107c3","e0228c39.7f242"]]},{"id":"2de3c880.107c3","type":"debug","z":"87f71302.a6a69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":400,"wires":[]},{"id":"a64f5d10.e74ce","type":"ui_text","z":"4d8d5d80.46f1cc","group":"17b8c5a.8c3173a","order":5,"width":0,"height":0,"name":"Latitude of Point","label":"Latitude of Point","format":"{{msg.latPoint}}","layout":"row-spread","x":980,"y":340,"wires":[]},{"id":"d8ca16ee.1069b","type":"ui_text","z":"4d8d5d80.46f1cc","group":"17b8c5a.8c3173a","order":6,"width":0,"height":0,"name":"Longitude of Point","label":"Longitude of Point","format":"{{msg.lonPoint}}","layout":"row-spread","x":990,"y":400,"wires":[]},{"id":"b35aee2.9394f9","type":"function","z":"4d8d5d80.46f1cc","name":"Get latitude, longitude from maps","func":"if(msg.payload.action == \"point\"){\n  \n    msg.latPoint = msg.payload.lat.toFixed(6);\n    msg.lonPoint = msg.payload.lon.toFixed(6);\n        \n    flow.set(\"latPoint\", msg.payload.lat.toFixed(6));\n    flow.set(\"lonPoint\", msg.payload.lon.toFixed(6));\n    \n    delete msg.topic;\n    delete msg._sessionid;\n    delete msg._msgid;\n    delete msg.payload;\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":380,"wires":[["a64f5d10.e74ce","d8ca16ee.1069b","9f894302.c6862"]]},{"id":"b6c5eaf0.9583e8","type":"ui_worldmap","z":"4d8d5d80.46f1cc","group":"792bfb6c.3e709c","order":1,"width":"15","height":"10","name":"","lat":"51.506004","lon":"7.457879","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":320,"y":500,"wires":[]},{"id":"3bdbc0f4.25e58","type":"worldmap in","z":"4d8d5d80.46f1cc","name":"","path":"/worldmap","events":"all","x":130,"y":380,"wires":[["b6c5eaf0.9583e8","a3d5182.0dc44e8","b35aee2.9394f9"]]},{"id":"a3d5182.0dc44e8","type":"debug","z":"4d8d5d80.46f1cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":440,"wires":[]},{"id":"9f894302.c6862","type":"debug","z":"4d8d5d80.46f1cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"f2eceec.154489","type":"ui_text","z":"a1e34bbc.128488","group":"24f0fec.8132702","order":1,"width":0,"height":0,"name":"Latitude of Point","label":"Latitude of Point","format":"{{msg.latPoint}}","layout":"row-spread","x":740,"y":140,"wires":[]},{"id":"9f81cbba.8cbe78","type":"ui_text","z":"a1e34bbc.128488","group":"24f0fec.8132702","order":2,"width":0,"height":0,"name":"Longitude of Point","label":"Longitude of Point","format":"{{msg.lonPoint}}","layout":"row-spread","x":750,"y":200,"wires":[]},{"id":"1af23b23.5fe6dd","type":"function","z":"a1e34bbc.128488","name":"Get latitude, longitude from maps","func":"if(msg.payload.action == \"point\"){\n  \n    msg.latPoint = msg.payload.lat.toFixed(6);\n    msg.lonPoint = msg.payload.lon.toFixed(6);\n        \n    flow.set(\"latitude\", msg.payload.lat.toFixed(6));\n    flow.set(\"longitude\", msg.payload.lon.toFixed(6));\n    \n    delete msg.topic;\n    delete msg._sessionid;\n    delete msg._msgid;\n    delete msg.payload;\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":120,"wires":[["f2eceec.154489","9f81cbba.8cbe78","13e95a26.6b86fe"]]},{"id":"5837797d.a0dc88","type":"ui_worldmap","z":"a1e34bbc.128488","group":"e279dee5.3b4f8","order":1,"width":"15","height":"10","name":"","lat":"51.506004","lon":"7.457879","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":320,"y":240,"wires":[]},{"id":"4c72eac6.e33c64","type":"worldmap in","z":"a1e34bbc.128488","name":"","path":"/worldmap","events":"all","x":100,"y":120,"wires":[["5837797d.a0dc88","40abb19c.e47c18","1af23b23.5fe6dd"]]},{"id":"40abb19c.e47c18","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":180,"wires":[]},{"id":"13e95a26.6b86fe","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"853c0821.f0677","type":"debug","z":"d2a1c91c.fefa98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":640,"wires":[]},{"id":"6ebf1ed4.68c728","type":"function","z":"d2a1c91c.fefa98","name":"Get all defined points","func":"var result = flow.get(\"results\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberPoint = 0;\nvar numberObjects = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n\n        if(type == \"Point\"){\n            var position = result[keyID].objects[j].object.coordinates;\n            list = {\n                \"KeyID\": keyID,\n                \"Field Name\": fieldName,\n                //\"Type\": type,\n                //\"Position (Longitude/ Latitude)\": position\n            };\n            allObjectJSON.push(list);\n            numberPoint += 1;\n        }\n        numberObjects += 1;\n    }\n}\nmsg.payload = allObjectJSON;\nmsg.numberPoint = numberPoint;\nmsg.numberObjects = numberObjects;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":480,"wires":[["891c0ffd.18ff28","bf94d012.7a1148","c9eb4bdb.b157","680101d9.12efb"]]},{"id":"891c0ffd.18ff28","type":"debug","z":"d2a1c91c.fefa98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":520,"wires":[]},{"id":"bf94d012.7a1148","type":"ui_table","z":"d2a1c91c.fefa98","group":"b4548b4.6f7f5f8","name":"All defined points","order":2,"width":"6","height":"5","columns":[],"outputs":0,"cts":false,"x":930,"y":560,"wires":[]},{"id":"39c12ffc.d1ac68","type":"function","z":"d2a1c91c.fefa98","name":"Get all defined triangles","func":"var result = flow.get(\"results\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberTriangles = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n        \n        if(type == \"Polygon\"){\n            \n            var numberCorner = result[keyID].objects[j].object.coordinates[0].length;\n            if(numberCorner == 4){ //triangle\n                var firstPosition = result[keyID].objects[j].object.coordinates[0][0];\n                var secondPosition = result[keyID].objects[j].object.coordinates[0][1];\n                var thirdPosition = result[keyID].objects[j].object.coordinates[0][2];\n                \n                list = {\n                    \"KeyID\": keyID,\n                    \"Field Name\": fieldName//,\n                    //\"Type\": \"triangle\",\n                    //\"First Position (Longitude/ Latitude)\": firstPosition,\n                    //\"Second Position (Longitude/ Latitude)\": secondPosition,\n                    //\"Third Position (Longitude/ Latitude)\": thirdPosition,\n                };\n                allObjectJSON.push(list);\n                numberTriangles += 1;\n            }\n        }\n    }\n}\n\nmsg.payload = allObjectJSON;\nmsg.numberTriangles = numberTriangles;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":620,"wires":[["82047c0f.73d78","853c0821.f0677","8f2a88be.982378"]]},{"id":"82047c0f.73d78","type":"ui_table","z":"d2a1c91c.fefa98","group":"e5f96010.3a8fe8","name":"All defined triangles","order":2,"width":"6","height":"5","columns":[],"outputs":0,"cts":false,"x":930,"y":600,"wires":[]},{"id":"45115916.97c718","type":"function","z":"d2a1c91c.fefa98","name":"Get all defined quadrangle","func":"var result = flow.get(\"results\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberQuadrangle = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n        \n        if(type == \"Polygon\"){\n            \n            var numberCorner = result[keyID].objects[j].object.coordinates[0].length;\n            if(numberCorner == 5){ //rectangle\n                var firstPosition = result[keyID].objects[j].object.coordinates[0][0];\n                var secondPosition = result[keyID].objects[j].object.coordinates[0][1];\n                var thirdPosition = result[keyID].objects[j].object.coordinates[0][2];\n                var fourthPosition = result[keyID].objects[j].object.coordinates[0][3];\n                \n                list = {\n                    \"KeyID\": keyID,\n                    \"Field Name\": fieldName,\n                    //\"Type\": \"rectangle\",\n                    /*\"First Position (Longitude/ Latitude)\": firstPosition,\n                    \"Second Position (Longitude/ Latitude)\": secondPosition,\n                    \"Third Position (Longitude/ Latitude)\": thirdPosition,\n                    \"Four Position (Longitude/ Latitude)\": fourthPosition*/\n                };\n                allObjectJSON.push(list);\n                numberQuadrangle += 1;\n            }\n        }\n    }\n}\nmsg.payload = allObjectJSON;\nmsg.numberQuadrangle = numberQuadrangle;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":740,"wires":[["d24f8b8f.b67cb8","169795.8218986b","5b2a16b0.e0dcc8"]]},{"id":"cb78aabc.181fa","type":"function","z":"d2a1c91c.fefa98","name":"Get all defined pentagon","func":"var result = flow.get(\"results\");\nvar numberKeyID = flow.get(\"numberKeyID\");\nvar allObjectJSON = [];\nvar numberPentagon = 0;\n\nfor(i=0;i<numberKeyID; i++){\n    var keyID = Object.keys(result)[i];\n    var numberFieldName = result[keyID].objects.length;\n    var list = {};\n    \n    for(j=0;j<numberFieldName;j++){\n        var fieldName = result[keyID].objects[j].id;\n        var type = result[keyID].objects[j].object.type;\n        \n        if(type == \"Polygon\"){\n            \n            var numberCorner = result[keyID].objects[j].object.coordinates[0].length;\n            if(numberCorner == 6){ //pentagon\n                var firstPosition = result[keyID].objects[j].object.coordinates[0][0];\n                var secondPosition = result[keyID].objects[j].object.coordinates[0][1];\n                var thirdPosition = result[keyID].objects[j].object.coordinates[0][2];\n                var fourthPosition = result[keyID].objects[j].object.coordinates[0][3];\n                var fifthPosition = result[keyID].objects[j].object.coordinates[0][4];\n                \n                list = {\n                    \"KeyID\": keyID,\n                    \"Field Name\": fieldName,\n                    //\"Type\": \"pentagon\",\n                    /*\"First Position (Longitude/ Latitude)\": firstPosition,\n                    \"Second Position (Longitude/ Latitude)\": secondPosition,\n                    \"Third Position (Longitude/ Latitude)\": thirdPosition,\n                    \"Four Position (Longitude/ Latitude)\": fourthPosition,\n                    \"Fifth Position (Longitude/ Latitude)\": fifthPosition*/\n                };\n                allObjectJSON.push(list);\n                numberPentagon += 1;\n            }\n        }\n    }\n}\nmsg.payload = allObjectJSON;\nmsg.numberPentagon = numberPentagon;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":880,"wires":[["3d0ac60.bbb9b3a","1e9bcd57.5a85f3","6adf78f8.c67558"]]},{"id":"169795.8218986b","type":"debug","z":"d2a1c91c.fefa98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":780,"wires":[]},{"id":"d24f8b8f.b67cb8","type":"ui_table","z":"d2a1c91c.fefa98","group":"142869e3.9a5d2e","name":"All defined quadrangle","order":2,"width":"6","height":"5","columns":[],"outputs":0,"cts":false,"x":960,"y":740,"wires":[]},{"id":"1e9bcd57.5a85f3","type":"debug","z":"d2a1c91c.fefa98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":920,"wires":[]},{"id":"3d0ac60.bbb9b3a","type":"ui_table","z":"d2a1c91c.fefa98","group":"acf2dd96.2127f","name":"All defined pentagons","order":2,"width":"6","height":"5","columns":[],"outputs":0,"cts":false,"x":940,"y":880,"wires":[]},{"id":"c9eb4bdb.b157","type":"ui_text","z":"d2a1c91c.fefa98","group":"b4548b4.6f7f5f8","order":1,"width":0,"height":0,"name":"","label":"Number of point:","format":"{{msg.numberPoint}}","layout":"row-spread","x":920,"y":480,"wires":[]},{"id":"680101d9.12efb","type":"ui_text","z":"d2a1c91c.fefa98","group":"90dfe4a.7ec1e98","order":6,"width":0,"height":0,"name":"","label":"Number of defined objects:","format":"{{msg.numberObjects}}","layout":"row-spread","x":960,"y":440,"wires":[]},{"id":"8f2a88be.982378","type":"ui_text","z":"d2a1c91c.fefa98","group":"e5f96010.3a8fe8","order":1,"width":0,"height":0,"name":"","label":"Number of triangles:","format":"{{msg.numberTriangles}}","layout":"row-spread","x":940,"y":680,"wires":[]},{"id":"5b2a16b0.e0dcc8","type":"ui_text","z":"d2a1c91c.fefa98","group":"142869e3.9a5d2e","order":1,"width":0,"height":0,"name":"","label":"Number of quadrangle:","format":"{{msg.numberQuadrangle}}","layout":"row-spread","x":960,"y":820,"wires":[]},{"id":"6adf78f8.c67558","type":"ui_text","z":"d2a1c91c.fefa98","group":"acf2dd96.2127f","order":1,"width":0,"height":0,"name":"","label":"Number of pentagons:","format":"{{msg.numberPentagon}}","layout":"row-spread","x":940,"y":960,"wires":[]},{"id":"295c109c.ebc","type":"ui_button","z":"d2a1c91c.fefa98","name":"Get all defined objects","group":"90dfe4a.7ec1e98","order":7,"width":0,"height":0,"passthru":false,"label":"Get all defined objects","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":120,"y":740,"wires":[["6d19a022.1a154","30bdd389.16d394","751ae257.cd5cfc","65289fbd.2aa158","dc0927dd.77257"]]},{"id":"ea932516.77ae48","type":"debug","z":"d2a1c91c.fefa98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"205493dd.dac6fc","type":"debug","z":"497166a9.7cb44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"57bcc50d.555a34","type":"function","z":"d2a1c91c.fefa98","name":"GET Keys","func":"return {payload : \"KEYS *\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1100,"wires":[["ee0ab3.a326355"]]},{"id":"ee0ab3.a326355","type":"http request","z":"d2a1c91c.fefa98","name":"Get Keys","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1160,"y":1100,"wires":[["22ae2198.a796ce"]]},{"id":"22ae2198.a796ce","type":"function","z":"d2a1c91c.fefa98","name":"Response","func":"var definedKeys = msg.payload.keys;\nvar length = msg.payload.keys.length;\nmsg.payload = definedKeys;\nmsg.leng = length;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1100,"wires":[["82f72a69.0b69c"]]},{"id":"783f2220.6eea7c","type":"http request","z":"d2a1c91c.fefa98","name":"Scan all objects info","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":1380,"wires":[["809043d.e34164"]]},{"id":"827c3e96.ecb5d","type":"split","z":"d2a1c91c.fefa98","name":"Split on ,","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":380,"y":1380,"wires":[["1a3d0448.e7369c"]]},{"id":"1a3d0448.e7369c","type":"function","z":"d2a1c91c.fefa98","name":"Scan keyID","func":"msg.keyID = msg.payload;\nmsg.payload = 'SCAN%20'+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1380,"wires":[["783f2220.6eea7c"]]},{"id":"b84f0c80.ee7668","type":"function","z":"d2a1c91c.fefa98","name":"Number of keyID","func":"var results = flow.get(\"results\") || {};//get the results object\nresults[msg.keyID] = msg.payload; //add this result\nflow.set(\"results\", results); //update flow storage\n\nvar counterKeyID = flow.get(\"numberKeyID\");\ncounterKeyID += 1;\nflow.set(\"numberKeyID\", counterKeyID);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":1380,"wires":[[]]},{"id":"7b0985fd.623234","type":"debug","z":"d2a1c91c.fefa98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":1200,"wires":[]},{"id":"82f72a69.0b69c","type":"change","z":"d2a1c91c.fefa98","name":"Delete msg.headers and msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1200,"wires":[["827c3e96.ecb5d","abf0f023.f1fd9"]]},{"id":"809043d.e34164","type":"change","z":"d2a1c91c.fefa98","name":"Delete msg.headers, msg.parts, msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1380,"wires":[["b84f0c80.ee7668"]]},{"id":"538a68e7.828e9","type":"change","z":"d2a1c91c.fefa98","name":"Set flow variable for results, numberKeyID","rules":[{"t":"set","p":"results","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"numberKeyID","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1100,"wires":[["57bcc50d.555a34"]]},{"id":"abf0f023.f1fd9","type":"function","z":"d2a1c91c.fefa98","name":"Get all key and length","func":"var leng = msg.payload.length;\nvar allKey = [];\nfor(i = 0; i < leng; i++){\n    var list = {\n        \"keyID\": msg.payload[i]\n    }\n    allKey.push(list);\n}\nmsg.payload = allKey;\nmsg.leng = leng;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1200,"wires":[["7b0985fd.623234"]]},{"id":"54f99438.0d74f4","type":"debug","z":"33f27c3a.fc26a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":240,"wires":[]},{"id":"5b6e1443.aa7c34","type":"delay","z":"a1e34bbc.128488","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1060,"wires":[["bf7985ce.fabdd"]]},{"id":"e0daf138.906f98","type":"function","z":"a1e34bbc.128488","name":"Clear table","func":"var areaWhereFoundObjList = [];\nvar list = {};\nareaWhereFoundObjList.push(list)\nmsg.payload = areaWhereFoundObjList;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1040,"wires":[["a81a4ea9.38502","daba5406.eeb4a8","9a1e0f9d.aa374"]]},{"id":"a81a4ea9.38502","type":"debug","z":"a1e34bbc.128488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1000,"wires":[]},{"id":"a760adf2.3b906","type":"change","z":"5e405b40.ecc30c","name":"","rules":[{"t":"delete","p":"lat1","pt":"flow"},{"t":"delete","p":"lon1","pt":"flow"},{"t":"delete","p":"lat2","pt":"flow"},{"t":"delete","p":"lon2","pt":"flow"},{"t":"delete","p":"lat3","pt":"flow"},{"t":"delete","p":"lon3","pt":"flow"},{"t":"delete","p":"lat4","pt":"flow"},{"t":"delete","p":"lon4","pt":"flow"},{"t":"delete","p":"lat5","pt":"flow"},{"t":"delete","p":"lon5","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["e15f14d4.eae5f8"]]},{"id":"74aa4bb4.116c24","type":"change","z":"96a97dc8.cc6a78","name":"","rules":[{"t":"delete","p":"lat1","pt":"flow"},{"t":"delete","p":"lon1","pt":"flow"},{"t":"delete","p":"lat2","pt":"flow"},{"t":"delete","p":"lon2","pt":"flow"},{"t":"delete","p":"lat3","pt":"flow"},{"t":"delete","p":"lon3","pt":"flow"},{"t":"delete","p":"lat4","pt":"flow"},{"t":"delete","p":"lon4","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["daaac71c.110258"]]},{"id":"c737de83.d7b018","type":"change","z":"d7a42777.964668","name":"","rules":[{"t":"delete","p":"lat1","pt":"flow"},{"t":"delete","p":"lon1","pt":"flow"},{"t":"delete","p":"lat2","pt":"flow"},{"t":"delete","p":"lon2","pt":"flow"},{"t":"delete","p":"lat3","pt":"flow"},{"t":"delete","p":"lon3","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":420,"wires":[["34d398ba.4b49c8"]]},{"id":"e0228c39.7f242","type":"change","z":"87f71302.a6a69","name":"","rules":[{"t":"delete","p":"lat1","pt":"flow"},{"t":"delete","p":"lon1","pt":"flow"},{"t":"delete","p":"lat2","pt":"flow"},{"t":"delete","p":"lon2","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":340,"wires":[["9d04c352.644c58"]]},{"id":"984088e.56d91f8","type":"change","z":"4d8d5d80.46f1cc","name":"","rules":[{"t":"delete","p":"latPoint","pt":"flow"},{"t":"delete","p":"lonPoint","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[[]]},{"id":"f10e6901.13db1","type":"function","z":"c8f1832c.0e5338","name":"Get latitude, longitude from maps","func":"if(msg.payload.radius != null){\n    \n    msg.lat = msg.payload.lat.toFixed(6);\n    msg.lon = msg.payload.lon.toFixed(6);\n    msg.radius = msg.payload.radius.toFixed(6);\n        \n    flow.set(\"latitude\", msg.payload.lat.toFixed(6));\n    flow.set(\"longitude\", msg.payload.lon.toFixed(6));\n    flow.set(\"radius\", msg.payload.radius.toFixed(6));\n    \n    delete msg.payload;\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["9fd1019d.64a52","22db97d3.f08c1","66f26d1a.7f7384","7326fb64.37b84c"]]},{"id":"ec926577.fb7f78","type":"ui_worldmap","z":"c8f1832c.0e5338","group":"9f2718b.e1aeb68","order":1,"width":"18","height":"10","name":"","lat":"51.506004","lon":"7.457879","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":260,"y":280,"wires":[]},{"id":"755f27d9.1b51f8","type":"worldmap in","z":"c8f1832c.0e5338","name":"","path":"/worldmap","events":"all","x":60,"y":140,"wires":[["ec926577.fb7f78","ca682ba2.416958","7b22e054.7af3"]]},{"id":"ca682ba2.416958","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":220,"wires":[]},{"id":"9fd1019d.64a52","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":40,"wires":[]},{"id":"22db97d3.f08c1","type":"ui_text","z":"c8f1832c.0e5338","group":"28f196aa.723e52","order":1,"width":0,"height":0,"name":"","label":"Latitude center circle:","format":"{{msg.lat}}","layout":"row-spread","x":920,"y":100,"wires":[]},{"id":"66f26d1a.7f7384","type":"ui_text","z":"c8f1832c.0e5338","group":"28f196aa.723e52","order":2,"width":0,"height":0,"name":"","label":"Longitude center circle:","format":"{{msg.lon}}","layout":"row-spread","x":930,"y":160,"wires":[]},{"id":"7326fb64.37b84c","type":"ui_text","z":"c8f1832c.0e5338","group":"28f196aa.723e52","order":3,"width":0,"height":0,"name":"","label":"Radius circle (meter):","format":"{{msg.radius}}","layout":"row-spread","x":920,"y":220,"wires":[]},{"id":"7b22e054.7af3","type":"change","z":"c8f1832c.0e5338","name":"","rules":[{"t":"delete","p":"latitude","pt":"flow"},{"t":"delete","p":"longitude","pt":"flow"},{"t":"delete","p":"radius","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":140,"wires":[["f10e6901.13db1"]]},{"id":"86345bdd.1f917","type":"function","z":"c8f1832c.0e5338","name":"Create search url","func":"var keyID = msg.payload;\nvar latitude = flow.get(\"latitude\");\nvar longitude = flow.get(\"longitude\");\nvar radius = flow.get(\"radius\");\n\nvar url = \"NEARBY%20\"+keyID+\"%20POINT%20\"+latitude+\"%20\"+longitude+\"%20\"+radius;\n\nmsg.keyID = keyID;\nmsg.payload = url;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":460,"wires":[["a2464b84.116b88","2fb863ed.af4464"]]},{"id":"a2464b84.116b88","type":"http request","z":"c8f1832c.0e5338","name":"Search","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1080,"y":460,"wires":[["5283e2b7.3c2d34","b0699b56.858d9"]]},{"id":"2fb863ed.af4464","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":360,"wires":[]},{"id":"cf8d481e.e2ddf8","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":680,"wires":[]},{"id":"df7d3c81.dcf99","type":"function","z":"c8f1832c.0e5338","name":"GET Keys","func":"return {payload : \"KEYS *\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":620,"wires":[["7b5bf054.22bc"]]},{"id":"7b5bf054.22bc","type":"http request","z":"c8f1832c.0e5338","name":"Get Keys","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":620,"wires":[["cf8d481e.e2ddf8","8539ae59.eee24"]]},{"id":"8539ae59.eee24","type":"change","z":"c8f1832c.0e5338","name":"Move payload.keys to payload","rules":[{"t":"move","p":"payload.keys","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":620,"wires":[["67984251.85ccac","76ee3ed7.13a98"]]},{"id":"67984251.85ccac","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":680,"wires":[]},{"id":"76ee3ed7.13a98","type":"split","z":"c8f1832c.0e5338","name":"Split on \", \"","splt":", ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1230,"y":620,"wires":[["46ec289b.d04b2","86345bdd.1f917"]]},{"id":"46ec289b.d04b2","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":680,"wires":[]},{"id":"5283e2b7.3c2d34","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":360,"wires":[]},{"id":"b0699b56.858d9","type":"function","z":"c8f1832c.0e5338","name":"Result","func":"var foundObject = [];\n\nif(msg.payload.objects.length > 0){\n    var keyID = msg.keyID;\n    var list = {};\n    \n    for(i=0;i<msg.payload.objects.length;i++){\n        var typeObj = \"\";\n        if(msg.payload.objects[i].object.type == \"Polygon\"){\n            if(msg.payload.objects[i].object.coordinates[0].length == 4){\n                typeObj = \"Triangle\";\n            }else if(msg.payload.objects[i].object.coordinates[0].length == 5){\n                typeObj = \"Quadrangle\";\n            }else if(msg.payload.objects[i].object.coordinates[0].length == 6){\n                typeObj = \"Pentagon\";\n            }else{\n                typeObj = msg.payload.objects[i].object.type;\n            }\n        }else{\n            typeObj = msg.payload.objects[i].object.type;\n        }\n        \n        list ={\n            \"keyID\": keyID,\n            \"fieldName\": msg.payload.objects[i].id,\n            \"Type\": typeObj\n        };\n        foundObject.push(list);\n    }\n    delete msg.payload;\n    msg.payload = foundObject;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":460,"wires":[["4ccdb198.3fdaf8","2d931ff7.7c8398"]]},{"id":"46c95127.f9d73","type":"ui_table","z":"c8f1832c.0e5338","group":"f82ea309.b81a28","name":"Found Objects","order":1,"width":"8","height":"4","columns":[],"outputs":0,"cts":false,"x":1860,"y":540,"wires":[]},{"id":"4252f48e.439b54","type":"function","z":"c8f1832c.0e5338","name":"Clear table","func":"var foundObject = [];\nvar list = {};\nfoundObject.push(list)\nmsg.payload = foundObject;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":480,"wires":[["46c95127.f9d73"]]},{"id":"321a692f.096006","type":"ui_button","z":"c8f1832c.0e5338","name":"","group":"f82ea309.b81a28","order":3,"width":0,"height":0,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":60,"y":540,"wires":[["4252f48e.439b54","d86b0809.ce6b8","c7200335.162b1"]]},{"id":"7a74abe0.2c5aac","type":"delay","z":"c8f1832c.0e5338","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1630,"y":480,"wires":[["46c95127.f9d73","5ee25ff7.151778"]]},{"id":"4ccdb198.3fdaf8","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":380,"wires":[]},{"id":"2d931ff7.7c8398","type":"function","z":"c8f1832c.0e5338","name":"Add Results","func":"var allFoundObj = flow.get(\"allFoundObj\") || [];\nvar counterObj = flow.get(\"counterObj\") || 0;\nvar list = {};\n\nfor(i=0;i<msg.payload.length;i++){\n    list = {\n        \"KeyID\": msg.payload[i].keyID,\n        \"Field Name\": msg.payload[i].fieldName,\n        \"Type\": msg.payload[i].Type\n    };     \n    allFoundObj.push(list);\n    counterObj += 1;\n}\n\nflow.set(\"allFoundObj\",allFoundObj);\nmsg.payload = allFoundObj;\n\nflow.set(\"counterObj\", counterObj);\nmsg.counterObj = counterObj;\n\ndelete msg.parts;\ndelete msg._msgid;\ndelete msg.headers;\ndelete msg.keyID;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":480,"wires":[["b7887203.3e81c","7a74abe0.2c5aac"]]},{"id":"b7887203.3e81c","type":"debug","z":"c8f1832c.0e5338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1590,"y":420,"wires":[]},{"id":"d86b0809.ce6b8","type":"change","z":"c8f1832c.0e5338","name":"Clear found obj","rules":[{"t":"delete","p":"allFoundObj","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":620,"wires":[["df7d3c81.dcf99"]]},{"id":"5ee25ff7.151778","type":"ui_text","z":"c8f1832c.0e5338","group":"f82ea309.b81a28","order":2,"width":0,"height":0,"name":"","label":"Number Objects:","format":"{{msg.counterObj}}","layout":"row-spread","x":1870,"y":580,"wires":[]},{"id":"c7200335.162b1","type":"change","z":"c8f1832c.0e5338","name":"Clear number found obj","rules":[{"t":"set","p":"counterObj","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"counterObj","pt":"flow","to":"0","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":540,"wires":[["5ee25ff7.151778"]]},{"id":"7e3df219.9c986c","type":"delay","z":"a9b7d8a8.ad8e3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":680,"wires":[["e8151430.27e52"]]},{"id":"3af2e944.cf7296","type":"delay","z":"a9b7d8a8.ad8e3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":740,"wires":[["23822c3.afd3254"]]},{"id":"d93770c9.e97f4","type":"delay","z":"a9b7d8a8.ad8e3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":880,"wires":[["967a81d5.914658"]]},{"id":"3b637bb7.fe342c","type":"delay","z":"a9b7d8a8.ad8e3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1020,"wires":[["56fb3c7.35a3144"]]},{"id":"8e3a323a.2f3ed8","type":"delay","z":"a1e34bbc.128488","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":1040,"wires":[["e0daf138.906f98"]]},{"id":"6d19a022.1a154","type":"delay","z":"d2a1c91c.fefa98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":880,"wires":[["cb78aabc.181fa"]]},{"id":"30bdd389.16d394","type":"delay","z":"d2a1c91c.fefa98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":740,"wires":[["45115916.97c718"]]},{"id":"751ae257.cd5cfc","type":"delay","z":"d2a1c91c.fefa98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":620,"wires":[["39c12ffc.d1ac68"]]},{"id":"65289fbd.2aa158","type":"delay","z":"d2a1c91c.fefa98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":480,"wires":[["6ebf1ed4.68c728"]]},{"id":"61856930.d000d8","type":"function","z":"497166a9.7cb44","name":"GET Keys","func":"return {payload : \"KEYS *\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":320,"wires":[["be1da872.410b"]]},{"id":"be1da872.410b","type":"http request","z":"497166a9.7cb44","name":"Get Keys","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":320,"wires":[["c2b373ce.c7917"]]},{"id":"c2b373ce.c7917","type":"function","z":"497166a9.7cb44","name":"Response","func":"var definedKeys = msg.payload.keys;\nvar length = msg.payload.keys.length;\nmsg.payload = definedKeys;\nmsg.leng = length;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":320,"wires":[["92955845.4dd12"]]},{"id":"4d88802b.f0a1d","type":"debug","z":"497166a9.7cb44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"92955845.4dd12","type":"change","z":"497166a9.7cb44","name":"Delete msg.headers and msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["3e233c78.0b177c"]]},{"id":"ebe80f71.a5b4f8","type":"change","z":"497166a9.7cb44","name":"Set flow variable for results, numberKeyID","rules":[{"t":"set","p":"results","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"numberKeyID","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["61856930.d000d8"]]},{"id":"3e233c78.0b177c","type":"function","z":"497166a9.7cb44","name":"Get all key and length","func":"var leng = msg.payload.length;\nvar allKey = [];\nfor(i = 0; i < leng; i++){\n    var list = {\n        \"keyID\": msg.payload[i]\n    }\n    allKey.push(list);\n}\nmsg.payload = allKey;\nmsg.leng = leng;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":400,"wires":[["4d88802b.f0a1d","1a358742.accc09","73c80034.f88638"]]},{"id":"1a358742.accc09","type":"ui_table","z":"497166a9.7cb44","group":"33f456f1.90a822","name":"All defined keyID","order":1,"width":"6","height":"5","columns":[],"outputs":0,"cts":false,"x":1120,"y":440,"wires":[]},{"id":"73c80034.f88638","type":"ui_text","z":"497166a9.7cb44","group":"33f456f1.90a822","order":2,"width":0,"height":0,"name":"","label":"Number of keyID:","format":"{{msg.leng}}","layout":"row-spread","x":1130,"y":480,"wires":[]},{"id":"47bf502d.5d7bd8","type":"ui_button","z":"497166a9.7cb44","name":"","group":"33f456f1.90a822","order":3,"width":0,"height":0,"passthru":false,"label":"Get all keyIDs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":320,"wires":[["ebe80f71.a5b4f8"]]},{"id":"a491d4fa.c8131","type":"function","z":"33f27c3a.fc26a4","name":"GET Keys","func":"return {payload : \"KEYS *\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":460,"wires":[["dcb2fa97.ea6318"]]},{"id":"dcb2fa97.ea6318","type":"http request","z":"33f27c3a.fc26a4","name":"Get Keys","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:9851/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":460,"wires":[["b7110b53.a9e27"]]},{"id":"b7110b53.a9e27","type":"function","z":"33f27c3a.fc26a4","name":"Response","func":"var definedKeys = msg.payload.keys;\nvar length = msg.payload.keys.length;\nmsg.payload = definedKeys;\nmsg.leng = length;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":460,"wires":[["f33d6740.1f41a8"]]},{"id":"1039f6ff.1f3131","type":"debug","z":"33f27c3a.fc26a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":540,"wires":[]},{"id":"f33d6740.1f41a8","type":"change","z":"33f27c3a.fc26a4","name":"Delete msg.headers and msg.redirectList","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":540,"wires":[["eccb8ef.60f92f"]]},{"id":"eccb8ef.60f92f","type":"function","z":"33f27c3a.fc26a4","name":"Get all key and length","func":"var leng = msg.payload.length;\nvar allKey = [];\nfor(i = 0; i < leng; i++){\n    var list = {\n        \"keyID\": msg.payload[i]\n    }\n    allKey.push(list);\n}\nmsg.payload = allKey;\nmsg.leng = leng;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":540,"wires":[["1039f6ff.1f3131","b98aa4ca.ad98b","83d32dd2.1b3728"]]},{"id":"b98aa4ca.ad98b","type":"ui_table","z":"33f27c3a.fc26a4","group":"daea09ce.74a31","name":"All defined keyID","order":1,"width":"6","height":"4","columns":[],"outputs":0,"cts":false,"x":1080,"y":620,"wires":[]},{"id":"83d32dd2.1b3728","type":"ui_text","z":"33f27c3a.fc26a4","group":"daea09ce.74a31","order":2,"width":0,"height":0,"name":"","label":"Number of keyID:","format":"{{msg.leng}}","layout":"row-spread","x":1090,"y":660,"wires":[]},{"id":"64df6705.ec9ec","type":"ui_button","z":"33f27c3a.fc26a4","name":"","group":"daea09ce.74a31","order":3,"width":0,"height":0,"passthru":false,"label":"Get all keyIDs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":460,"wires":[["a491d4fa.c8131"]]},{"id":"6c9ef047.54ae3","type":"ui_text","z":"33f27c3a.fc26a4","group":"b031b3a8.e811b8","order":1,"width":0,"height":0,"name":"","label":"Successful:","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":320,"wires":[]},{"id":"1099f311.d35b25","type":"ui_text","z":"33f27c3a.fc26a4","group":"b031b3a8.e811b8","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":380,"wires":[]},{"id":"b68d9044.0f1d18","type":"function","z":"33f27c3a.fc26a4","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":830,"y":320,"wires":[["6c9ef047.54ae3"]]},{"id":"aa8093c7.73e938","type":"function","z":"33f27c3a.fc26a4","name":"Error","func":"return { payload : msg.payload.err }; ","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["1099f311.d35b25"]]},{"id":"7990afa6.1a6828","type":"function","z":"497166a9.7cb44","name":"Ok","func":"return { payload : msg.payload.ok }; ","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["81e09495.4bbc88"]]},{"id":"57cc00a8.8fd868","type":"function","z":"497166a9.7cb44","name":"Error","func":"return { payload : msg.payload.err }; ","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["205493dd.dac6fc","fb5ef929.a0ad28"]]},{"id":"81e09495.4bbc88","type":"ui_text","z":"497166a9.7cb44","group":"462a4ce6.d13c0c","order":1,"width":0,"height":0,"name":"","label":"Successful:","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":100,"wires":[]},{"id":"fb5ef929.a0ad28","type":"ui_text","z":"497166a9.7cb44","group":"462a4ce6.d13c0c","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":160,"wires":[]},{"id":"a7e00838.e14268","type":"function","z":"d2a1c91c.fefa98","name":"Error","func":"return { payload : msg.payload.err }; ","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["1e175fab.222f08"]]},{"id":"1e175fab.222f08","type":"ui_text","z":"d2a1c91c.fefa98","group":"90dfe4a.7ec1e98","order":2,"width":0,"height":0,"name":"","label":"Error:","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":280,"wires":[]},{"id":"9adb572a.f58f68","type":"debug","z":"a9b7d8a8.ad8e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":320,"wires":[]},{"id":"ef83a753.5f226","type":"change","z":"a9b7d8a8.ad8e3","name":"Delete last flow variable","rules":[{"t":"delete","p":"resultsScanKeyID","pt":"flow"},{"t":"delete","p":"numberKeyID","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["6b35eafe.91318c"]]},{"id":"df4207.6a717df8","type":"change","z":"a1e34bbc.128488","name":"Delete last flow variable","rules":[{"t":"delete","p":"resultsScanKeyID","pt":"flow"},{"t":"delete","p":"numberKeyID","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["a61a320.5ddb2d"]]},{"id":"dc0927dd.77257","type":"change","z":"d2a1c91c.fefa98","name":"Delete last flow variable","rules":[{"t":"delete","p":"results","pt":"flow"},{"t":"delete","p":"numberKeyID","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1100,"wires":[["538a68e7.828e9"]]}]